[2014-08-07 07:41] yegor256 opened #1 "first version with basic parsing"
Let's implement it

[2014-08-07 09:04] #1 closed, assigned to nobody

[2014-08-07 09:14] yegor256 opened #2 "XSD to control output"
Let's use XSD to control XML output

[2014-08-07 10:51] yegor256 opened #3 "control test coverage"
Let's control test coverage in build

[2014-08-07 14:40] #3 closed, assigned to nobody

[2014-08-07 15:15] yegor256 opened #4 "command line options"
Let's make it possible to specify them

[2014-08-07 17:47] #4 closed, assigned to nobody

[2014-08-07 17:51] #2 closed, assigned to nobody

[2014-08-07 18:03] yegor256 opened #5 "no implicit conversion of IO into String"
[code]

[2014-08-07 18:28] #5 closed, assigned to nobody

[2014-08-07 18:44] yegor256 opened #6 "fetch not only text/ files"
Let's include other files, not only text

[2014-08-07 18:56] #6 closed, assigned to nobody

[2014-08-11 20:15] yegor256 opened #7 "utf-8 by default"
let's set it

[2014-08-11 20:23] #7 closed, assigned to nobody

[2014-08-11 20:34] yegor256 opened #8 "exclusions"
Let's make it possible to exclude certain directories/files

[2014-08-12 10:28] #8 closed, assigned to nobody

[2014-08-12 10:29] yegor256 opened #9 "exclude option doesn't work"
exclusion introduced in #8 doesn't work

[2014-08-12 10:34] #9 closed, assigned to nobody

[2014-08-12 11:29] yegor256 opened #10 "show version on start"
Let's add version constant into sources

[2014-08-12 13:36] yegor256 opened #11 "`match': invalid byte sequence in US-ASCII"
[code]

[2014-08-12 13:38] #10 closed, assigned to nobody

[2014-08-12 16:16] yegor256 opened #12 "bin/pdd doesn't work as executable"
bin/pdd doesn't work as executable

[2014-08-12 16:29] #11 closed, assigned to nobody

[2014-08-12 16:44] #12 closed, assigned to nobody

[2014-08-13 12:49] yegor256 opened #13 "publish XSD and XSL online"
Let's publish them online on every build

[2014-08-13 14:19] #13 closed, assigned to nobody

[2014-08-13 18:08] longtimeago opened #14 "invalid byte sequence in US-ASCII (ArgumentError)"
We observe the error during build one of our projects

[code]

Fool logs are here http://www.rultor.com/t/589-51774117

Looks like this encoding issue
http://stackoverflow.com/questions/17031651/invalid-byte-sequence-in-us-ascii-argument-error-when-i-run-rake-dbseed-in-ra

[2014-08-13 18:39] #14 closed, assigned to nobody

[2014-08-29 11:51] carlosmiranda opened #15 "Duplicate key sequence error when building"
See the following build log from https://github.com/jcabi/jcabi-aspects/pull/82: http://www.rultor.com/t/720-53864837

The build completed successfully, but PDD somehow flagged existing (unresolved) puzzles as duplicates:

[code]

[2014-08-30 07:50] #15 closed, assigned to nobody

[2014-10-22 20:01] yegor256 opened #16 "--format=html"

[2014-10-22 21:10] #16 closed, assigned to nobody

[2014-11-03 21:55] longtimeago opened #17 "Todo is not completely parsed"
I've found todo in a code, which has completely wrong formatting. As a consequence, it's not completely parsed. Here is the example:

[code]

Issue description generated:

[code]

[2014-11-04 11:55] #17 closed, assigned to yegor256

[2014-11-04 15:22] yegor256 opened #18 "show file name and line number in exception"

[2014-11-04 15:51] #18 closed, assigned to nobody

[2014-11-04 15:51] yegor256 opened #19 "show line numbers in case of failure"

[2014-11-04 15:53] yegor256 opened #20 "validation is too strict"

[2014-11-04 16:10] #19 closed, assigned to nobody

[2014-11-04 16:10] #20 closed, assigned to nobody

[2014-11-12 01:49] praveensripati opened #21 "Error during installation of pdd"
I tried to install pdd on Ubuntu 14.04 and I get the below error

[code]

[2014-11-14 08:31] #21 closed, assigned to yegor256

[2014-12-02 05:15] yegor256 opened #22 "--version"

[2014-12-02 10:34] #22 closed, assigned to nobody

[2014-12-04 16:10] yegor256 opened #23 "--rule"
Let's add a new option `--rule`, which will allow us to configure certain post-parsing rules:

[code]

etc

[2014-12-05 06:30] #23 closed, assigned to nobody

[2014-12-05 16:16] yegor256 opened #24 "max-duplicates rule"

[2014-12-05 21:11] #24 closed, assigned to nobody

[2014-12-07 16:03] yegor256 opened #25 "available-roles"
Let's create a new rule `available-roles`

[2014-12-12 18:03] longtimeago opened #26 "Fails if puzzle does not contain time"
This puzzle

[code]

produces error

[code]

[2014-12-12 18:36] #26 closed, assigned to nobody

[2014-12-12 18:39] longtimeago opened #27 "Documentation for PDD rules is missing"
PDD rules are not documented.
For example, I didn't found anything about `min-estimate` rule neither in README nor in the article
http://www.yegor256.com/2009/03/04/pdd.html

[2014-12-16 10:32] #27 closed, assigned to yegor256

[2014-12-16 19:42] #25 closed, assigned to nobody

[2015-01-06 18:02] yegor256 opened #28 ".pdd"

[2015-01-06 18:21] yegor256 commented on #28
@rultor release, tag is `0.12`

[2015-01-06 18:22] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1485-68907541)

[2015-01-06 18:29] rultor commented on #28
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1485-68907541) (spent 7min)

[2015-01-06 18:33] yegor256 commented on #28
@rultor release, tag is `0.12`

[2015-01-06 18:34] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1485-68909439)

[2015-01-06 18:43] rultor commented on #28
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1485-68909439) (took me 8min)

[2015-01-06 18:44] #28 closed

[2015-01-12 08:08] yegor256 opened #29 "puzzle author"

[2015-01-12 09:58] yegor256 commented on #29
@rultor release, tag is `0.13`

[2015-01-12 09:59] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1545-69548239)

[2015-01-12 12:00] rultor commented on #29
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1545-69548239) (spent 2hr)

[2015-01-12 19:54] yegor256 commented on #29
@rultor release, tag is `0.13`

[2015-01-12 19:55] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1545-69634132)

[2015-01-12 20:09] rultor commented on #29
Release `0.13` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-01-12 20:09] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1545-69634132) (took me 8min)

[2015-01-13 09:42] #29 closed

[2015-01-13 09:43] yegor256 opened #30 "puzzle date in UTC"

[2015-01-13 09:48] yegor256 commented on #30
@rultor release, tag is `0.14`

[2015-01-13 09:48] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1557-69719484)

[2015-01-13 09:53] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1557-69719484) (took me 5min)

[2015-01-13 09:54] #30 closed

[2015-01-16 14:31] yegor256 opened #31 "create unique puzzle ID in the output"
Let's generate unique puzzle ID in XML output

[2015-02-20 17:48] alxn opened #32 "--exclude doesn't glob correctly"
Help says this:

[code]

Yet:

[code]

[code]

[2015-02-20 17:50] yegor256 commented on #32
try this:

[code]

[2015-02-20 17:53] alxn commented on #32
negative Houston:

[code]

There is a workaround of:
[code]

[2015-02-20 17:59] yegor256 commented on #32
@alxn can't be negative! look at this line: https://github.com/teamed/pdd/blob/master/.rultor.yml#L21 This is how it works here, in this project

[2015-02-20 18:41] alxn commented on #32
That seems to be a shell glob:
[code]
Note it doesn't find:
[code]
Should [`pdd/sources.rb`](https://github.com/teamed/pdd/blob/master/lib/pdd/sources.rb#L42) use a [`Dir.glob()`](http://ruby-doc.org/core-2.2.0/Dir.html#method-c-glob) ?

[2015-02-20 18:59] yegor256 commented on #32
@alxn `Dir.glob()` doesn't understand exclusions. That's why we're using this code. But it works, right?

[2015-02-25 02:24] pinaf opened #33 "SnBufferTest.updatesOriginalSensor failed"
Failed tests: SnBufferTest.updatesOriginalSensor:49 No interactions wanted here: -> at com.sigzig.sensor.SnBufferTest.updatesOriginalSensor(SnBufferTest.java:49) But found this interaction on mock 'Mock for Sensor, hashCode: 2099877756': -> at com.sigzig.sensor.SnBuffer$2.run(SnBuffer.java:89) Actually, above is the only interaction with this mock.

[2015-02-25 02:24] pinaf commented on #33
@alex-palevsky it's a valid bug.

[2015-02-25 02:42] pinaf commented on #33
oops.. created in wrong project haha!

[2015-02-25 02:42] #33 closed

[2015-02-26 07:36] davvd commented on #31
@yegor256 right, I added the `bug` tag

[2015-02-26 08:42] davvd commented on #31
I am aware of the task, give me some time to find a developer...

[2015-02-26 08:44] davvd commented on #31
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-70d5393a

[2015-02-27 19:05] pinaf opened #34 "Detect malformed puzzles"
If a puzzle is created without the `#` character in front of the issue, pdd should detect it and complain.

[2015-03-02 07:21] davvd commented on #34
this task will get someone's attention soon

[2015-03-02 07:23] davvd commented on #34
@pinaf thanks for the ticket, your account was topped for 15 mins, payment AP-2BH61194JP656145Y

[2015-03-13 19:33] yegor256 opened #35 "remove unprintable characters from puzzle body"
Let's remove unprintable chars from puzzle body

[2015-03-13 19:34] yegor256 commented on #32
@alxn is there still an issue here?

[2015-03-13 20:42] alxn commented on #32
@yegor256 I thought so I did pull the code, but need to repro it locally. Will try in a bit.

[2015-03-14 06:11] #35 closed

[2015-03-16 03:51] alxn commented on #32
So I created some files with puzzles:
[code]
And `pdd` can find them:
[code]
but if I try to `-e=testing/**` it only drops the top level, not the hierarchy:
[code]

[2015-03-16 03:56] alxn commented on #32
@yegor256 - was tempted, with the following, but can't yet workout how to use a local lib:

[code]

[2015-03-28 02:00] dispmaxstaff opened #36 "pdd should log files being processed"
Else it's impossible to determine which file pdd fails at, we excluded all possible binary files but still a failure, this is the log snippet:

	+ pdd --file=/dev/null
	INFO: "my version is 0.14"
	INFO: "reading ."
	INFO: "excluding **/*.exe"
	INFO: "excluding **/*.dll"
	INFO: "excluding **/*.ico"
	INFO: "44 file(s) found"
	/var/lib/gems/1.9.1/gems/pdd-0.14/lib/pdd/source.rb:43:in `match': invalid

[2015-03-29 08:42] dispmaxstaff opened #37 "pdd fails on utf-16 file"
Encountered on Visual Studio Resource files (.rc) extension.
Here's the example of such file: https://github.com/dispmaxstaff/yegor256/blob/master/HelloWorld/HelloWorld/HelloWorld.rc

[2015-03-29 17:36] yegor256 commented on #37
@dispmaxstaff definitely a bug, thanks for reporting

[2015-03-30 21:58] davvd commented on #36
@yegor256 this is yours, pls go ahead

[2015-03-30 21:58] davvd commented on #37
@yegor256 this is yours, pls go ahead

[2015-03-30 22:01] davvd commented on #37
@dispmaxstaff thanks for the ticket, your account was topped for 15 mins, payment 54545810

[2015-03-30 22:21] davvd commented on #36
@dispmaxstaff thanks a lot for reporting, **15 mins** added to your acc, pmt ID `54546201`

[2015-04-07 07:36] davvd opened #38 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:19] davvd opened #39 "0.15"
Please, publish a new release **0.15** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 13:07] davvd opened #40 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-24 00:58] dispmaxstaff commented on #37
We recently had a problem in our secp project. Our secp.rc file was unicode and git treats it as binary. So after binary merge happened, secp.rc had broken unicode and cannot be read by pdd (even it's in ignore list).
[code]
@yegor256 the issue here is:
- *.rc are ignored `INFO: "excluding **/*.rc"`
- I had to resort to `puts` in `pdd/source.rb` to find out what file fails.
- looks like pdd doesn'

[2015-05-04 23:18] yegor256 commented on #37
@rultor release, tag is `0.14.1`

[2015-05-04 23:19] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3666-98882648)

[2015-05-04 23:23] rultor commented on #37
Release `0.14.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-04 23:23] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3666-98882648) (took me 3min)

[2015-05-04 23:28] yegor256 commented on #36
@dispmaxstaff this is fixed in version 0.14.1, please check

[2015-05-04 23:28] yegor256 commented on #31
@rultor release, tag is `0.14.2`

[2015-05-04 23:29] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3667-98884097)

[2015-05-04 23:30] yegor256 commented on #37
@dispmaxstaff I think that the best we can do here is log each file being processed (done in 0.14.1). we can't accept UTF-16 (or any other encodings) in the same repository. all files should be UTF-8. so, I believe, this ticket can be closed now.

[2015-05-04 23:36] rultor commented on #31
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3667-98884097) (took me 7min)

[2015-05-04 23:41] #31 closed

[2015-05-12 07:01] davvd commented on #39
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 08:15] davvd commented on #39
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-15 08:21] dispmaxstaff commented on #37
@yegor256 ok, closing

[2015-05-15 09:28] dispmaxstaff commented on #36
@yegor256 this works, closing

[2015-05-15 09:28] #36 closed

[2015-05-15 20:50] yegor256 commented on #37
@dispmaxstaff yes, make sense... let me check again

[2015-05-18 08:09] davvd commented on #36
@yegor256 I added **38 mins** to your account, many thanks for working with the project! The completion time here was 000-fd6462b5.... the bonus for fast delivery (age=3458)... +38 added to your rating, at the moment it is: [+9123](http://www.netbout.com/b/35008?open=rating)

[2015-06-01 08:29] davvd commented on #40
@yegor256 Closed, done, thanks all

[2015-06-01 08:29] #40 closed

[2015-06-15 08:33] davvd commented on #38
@yegor256 Thanks all, I am closing

[2015-06-15 08:33] #38 closed

[2015-06-15 08:33] davvd commented on #39
@yegor256 Done, the task is closed

[2015-06-15 08:33] #39 closed

[2015-07-09 12:00] Suseika opened #41 "Include a link to the parent issue in puzzles on Github"
Consider jcabi/jcabi-dynamo#35. It would be great to have a link to the parent issue in the issue description. The parent issue for that puzzle would be jcabi/jcabi-dynamo#8, but you can't tell that without looking into source code. If we have to provide the parent issue when creating a todo, why not show it in the puzzle description?

[2015-07-13 07:38] davvd commented on #41
@yegor256 dispatch this issue please

[2015-07-13 17:27] yegor256 commented on #41
@Suseika what if it's not a Github project? How can we build a URL of that issue when we're looking at Git repository?

[2015-07-13 17:37] Suseika commented on #41
@yegor256 We don't need to build an URL, we send Github-flavored markdown to Github. We just write #number_of_issue, and it gets transformed to an url by Github, right? PDD syntax already requires the number of issue anyway. It won't hurt just adding that number somewhere in the description, if it is present.

[2015-07-13 17:53] yegor256 commented on #41
@Suseika what if the user is using JIRA? or Trac? we have to be tracker-agnostic... see the problem?

[2015-07-13 18:06] Suseika commented on #41
@yegor256 I probably posted this issue in a wrong repository. Dmarkov didn't type the top message in jcabi/jcabi-dynamo#35 manually, it is generated from `pdd` output, right? The software used to generate the issue text would benefit from a github-specific formatting option that allows inserting the link to a parent Github issue.

[2015-07-13 19:01] yegor256 commented on #41
@Suseika yes, I'll take this into account. At the moment, this information is available in XML output of pdd, in `/puzzle/ticket` node.

[2015-07-13 19:01] #41 closed

[2015-09-07 06:43] krzyk opened #42 "pdd should detect @todo without issue number"
right now pdd will ignore `@todo` which has only description, e.g.:
[code]

The above todo will be ignored, but an error should be displayed that it is not in the correct format.

[2015-09-07 20:06] yegor256 opened #43 "report failed lines"
This report is not informative enough:

[code]

Let's report line number.

[2015-09-07 20:26] yegor256 commented on #43
@rultor release, tag is `0.14.3`

[2015-09-07 20:26] rultor commented on #43
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5057-138371059)

[2015-09-07 20:34] rultor commented on #43
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5057-138371059) (took me 7min)

[2015-09-07 21:00] yegor256 commented on #43
@rultor release, tag is `0.14.4`

[2015-09-07 21:01] rultor commented on #43
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5057-138376629)

[2015-09-07 21:06] rultor commented on #43
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5057-138376629) (took me 5min)

[2015-09-07 21:12] #43 closed

[2015-09-09 00:47] K-ballo opened #44 "pdd deployment on travis-ci fails"
The following snippet used to work fine to deploy _pdd_ on _travis-ci_:

    - set -e
    - travis_retry sudo apt-get install -y --fix-missing libmagic1 libmagic-dev
    - gem install --no-ri pdd

But this last step suddenly started failing, with the following output:

    Fetching: rake-10.4.2.gem (100%)
    Successfully installed rake-10.4.2
    Fetching: slop-3.6.0.gem (100%)
    Successfully i

[2015-09-10 07:13] davvd commented on #42
@yegor256 please do something about this issue

[2015-09-10 11:59] yegor256 commented on #42
@rultor release, tag is `0.15`

[2015-09-10 11:59] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5086-139213847)

[2015-09-10 12:02] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5086-139213847) (took me 4min)

[2015-09-10 12:55] davvd commented on #42
@krzyk thank you for the ticket reported, I topped your account for 15 mins, transaction `64884078`

[2015-09-10 12:57] yegor256 commented on #42
@krzyk I believe the problem is solved

[2015-09-10 17:15] krzyk commented on #42
@yegor256 thanks

[2015-09-10 17:15] #42 closed

[2015-09-12 09:01] yegor256 commented on #44
@K-ballo can you please try this instead:

[code]

[2015-09-12 23:28] K-ballo commented on #44
@yegor256 that causes it to fail earlier, full log [here](https://travis-ci.org/K-ballo/travis-cpp/jobs/80042617#L115).

[2015-09-13 09:55] yegor256 commented on #44
@K-ballo looks like `addons/apt/packages` are installed **after** `install`. That's why, please try to put this line into `script` section:

[code]

[2015-09-13 13:56] K-ballo commented on #44
@yegor256 That makes no sense, why would I perform the install stage after `install`?

Moved to the `script` section, same output except now it shows as a build failure rather than an configuration failure. Full log [here](https://travis-ci.org/K-ballo/travis-cpp/jobs/80095186#L117).

[2015-09-13 14:48] yegor256 commented on #44
@K-ballo do you see in [this log](https://travis-ci.org/K-ballo/travis-cpp/jobs/80095186) where apt-get packages are installed? I don't...

[2015-09-13 15:04] K-ballo commented on #44
I do not.

[2015-09-22 00:19] K-ballo commented on #44
@yegor256 After further inspection, this appears to be an issue on travis side, no longer supporting the `packages` add-on on legacy infrastructure.

[2015-09-22 06:29] yegor256 commented on #44
@K-ballo there you go... let's close the ticket?

[2015-09-22 16:32] #44 closed

[2015-10-15 18:23] yegor256 commented on #37
@dispmaxstaff I think the problem is fixed already, please check (if you can) and close the ticket. Thanks!

[2015-11-26 17:47] yegor256 opened #45 "nokogiri update to 1.6.6.4"

[2015-11-26 17:47] yegor256 commented on #45
@rultor release, tag is `0.15.1`

[2015-11-26 17:47] #45 closed

[2015-11-26 17:47] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5802-159968026)

[2015-11-26 17:56] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5802-159968026) (took me 9min)

[2015-11-30 01:30] carlosmiranda opened #46 "Unhelpful error message "Suspicious TODO in line <num>""
In teamed/xockets-layer#1036, we got the following error message:

[code]

It turns out, it was complaining about a puzzle that looks like the following:

[code]

The problem here is that the format is wrong. It lacks a `#` character before the ticket number and should start with `"@todo #1033:30min`. However, the error message is unhelpful (why is a TODO "suspicious"?). The error should state som

[2015-12-03 08:56] davvd commented on #46
@yegor256 please dispatch this issue

[2015-12-07 16:50] yegor256 commented on #46
@carlosmiranda I think it's better now: 8bd5a91

[2015-12-07 16:50] #46 closed

[2015-12-07 16:51] yegor256 commented on #46
@rultor release, tag is `0.15.2`

[2015-12-07 16:52] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5860-162589946)

[2015-12-07 16:56] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5860-162589946) (took me 4min)

[2016-01-03 20:10] longtimeago opened #47 "README is missing package needed to install pdd"
README is missing one package needed to install pdd - `zlib1g-dev`

[2016-01-03 20:17] longtimeago opened #48 "Puzzle never extracted silently"
Puzzle below will never be extracted **silently**.

[code]

because twin slash is not followed by whitespace at the first line

Let's either fix the pattern to parse such puzzle or reject this format at all.

[2016-01-07 07:34] davvd commented on #47
@yegor256 please do something about this issue

[2016-01-07 07:34] davvd commented on #48
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-07 14:21] yegor256 commented on #47
@longtimeago I don't think it's needed... check `.travis.yml`. it's not used there and the build is clean. are you sure you can't install it?

[2016-01-07 14:39] longtimeago commented on #47
@yegor256 I've reinstalled my system from scratch recently. Without that lib I was unable to compile native extensions for PDD or some it's dependency

[2016-01-07 14:40] yegor256 commented on #47
@longtimeago how exactly do you compile it? `bundle update`? I mean, how can I reproduce? all I have is `Travis` and it works fine. Rultor too, with a clean Ubuntu 14

[2016-01-07 14:43] longtimeago commented on #47
@yegor256 I just run ```gem install pdd```

[2016-01-07 14:45] yegor256 commented on #47
@longtimeago OK, let's try this: 668088c

[2016-01-07 14:45] yegor256 commented on #47
@rultor release, tag is `0.15.3`

[2016-01-07 14:46] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6219-169683480)

[2016-01-07 14:53] rultor commented on #47
@longtimeago @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6219-169683480) (spent 7min)

[code]

[2016-01-07 14:54] yegor256 commented on #47
@rultor release, tag is `0.15.3`

[2016-01-07 14:56] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6219-169685692)

[2016-01-07 14:59] rultor commented on #47
@longtimeago @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6219-169685692) (spent 3min)

[code]

[2016-01-07 15:02] yegor256 commented on #47
@rultor release, tag is `0.15.4`

[2016-01-07 15:03] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6219-169687553)

[2016-01-07 15:09] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6219-169687553) (took me 6min)

[2016-01-07 15:10] yegor256 commented on #47
@longtimeago see? `gem install pdd` works just fine.

[2016-01-07 15:22] longtimeago commented on #47
@yegor256 I suspect that `zlib1g-dev` is already on `yegor256/rultor` docker image

[2016-01-07 15:38] longtimeago commented on #47
@yegor256 here is the log from fresh Ubuntu 14.04.03 installed on VB
[code]
After that I've installed ``` zlib1g-dev ``` and only then command ``` gem install pdd ``` was succeed

[2016-01-07 21:20] yegor256 commented on #47
@longtimeago you're right: https://github.com/yegor256/rultor/blob/master/src/docker/Dockerfile#L66

[2016-01-07 21:21] yegor256 commented on #47
@longtimeago fixed in aa3d068 thanks

[2016-01-07 21:21] #47 closed

[2016-01-20 13:43] alexey-krylov opened #49 "Describe local installation of PDD to Windows/MacOS"
Current installation manual covers only debian-based linux distributives (apt-get install).
It will be nice to have Windows + MacOS installation manual.

[2016-01-22 19:18] mkordas opened #50 "No tests and documentation about excluding multiple files/paths"
When looking at [search results](https://github.com/teamed/pdd/search?utf8=%E2%9C%93&q=exclude) for exclude feature, I see it supports multiple arguments, but there's neither test nor documentation to show how to use multiple excludes.

I'd expect test with at least two excludes and documentation with example for that feature.

[2016-01-25 11:44] davvd commented on #49
@yegor256 please do something about this issue

[2016-01-26 02:25] yegor256 commented on #49
@alexey-krylov take a look: 1137402 works?

[2016-01-26 02:25] yegor256 commented on #49
@alexey-krylov I'm not sure this will work on RedHat... can you please confirm?

[2016-01-26 10:15] davvd commented on #50
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-03 23:22] yegor256 commented on #50
@mkordas what about this: https://github.com/teamed/pdd/blob/7d979eb1f26ed66cdfaa28a5e1346295ecb2901c/features/cli.feature#L54 there are two `excludes`

[2016-02-03 23:24] yegor256 commented on #50
@mkordas extra doc: 0a622db

[2016-02-03 23:24] #50 closed

[2016-02-04 03:37] yegor256 opened #51 "upgrade slop to 4.0"

[2016-02-04 08:06] davvd commented on #51
@yegor256 I just added bug tag here

[2016-02-04 09:51] davvd commented on #51
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-fc7c31ba

[2016-02-07 21:22] mkordas commented on #50
@yegor256 What about multiple paths provided to one exclude? Is the following
[code]
 valid or should I write
[code]
or maybe some quotes are needed? From docs it's not clear, I don't see tests for it either.

[2016-02-09 04:17] yegor256 commented on #50
@mkordas maybe that will work, but I'm not sure. just use multiple `--execute` and you'll be fine

[2016-02-09 09:59] mkordas commented on #50
@yegor256 the thing here is that it works and is used in projects, so the question is if we want to have undocumented feature without tests: https://github.com/teamed/qulice/blob/fe57956fef458ad89afbe379afa217c9863aceb7/.travis.yml#L25

[2016-02-10 09:00] NikolaDespotoski opened #52 "How PUZZLES.md gets updated?"
I have a question regarding how the the PUZZLES.md gets populated if the `pdd` find files that have puzzles? In other teamed.io projects I saw that in commit history PUZZLES.md is updated by a contributor.

If the `pdd` is executed by `rultor`, will rultor update the PUZZLES.md file?
When `pdd` is used in project, does each contributor should execute the `pdd` locally and update the the puzzles.md

[2016-02-10 18:23] yegor256 commented on #52
@NikolaDespotoski this tool is producing `puzzles.xml` file, which then can be converted to whatever you need, but specifically in your project. The `pdd` tool itself doesn't know anything about your specific project details and your tickets. It's all done by other (proprietary) tools.

[2016-02-10 18:23] #52 closed

[2016-07-12 00:33] yegor256 commented on #51
@rultor deploy

[2016-07-12 00:34] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9012-231905798)

[2016-07-12 00:41] yegor256 commented on #51
@rultor stop

[2016-07-12 00:41] yegor256 commented on #51
@rultor deploy

[2016-07-12 00:41] rultor commented on #51
@yegor256 OK, I'll try to stop current task.

[2016-07-12 00:43] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9012-231906963)

[2016-07-12 00:54] yegor256 commented on #51
@rultor deploy

[2016-07-12 00:55] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231905798)

[2016-07-12 00:56] rultor commented on #51
@yegor256 OK, I'll try to stop current task.

[2016-07-12 00:56] rultor commented on #51
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9013-231906916) (spent 2min)

[code]

[2016-07-12 00:56] yegor256 commented on #51
@rultor deploy

[2016-07-12 00:58] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231906963)

[2016-07-12 01:01] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9013-231906963) (spent 3min)

[code]

[2016-07-12 01:04] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231908742)

[2016-07-12 01:07] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9013-231908742) (spent 4min)

[code]

[2016-07-12 01:10] yegor256 commented on #51
@rultor deploy

[2016-07-12 01:10] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231909008)

[2016-07-12 01:12] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9013-231909008) (took me 3min)

[2016-07-12 01:15] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231910786)

[2016-07-12 01:18] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9013-231910786) (took me 3min)

[2016-07-12 06:29] yegor256 commented on #51
@rultor deploy

[2016-07-12 06:29] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231949000)

[2016-07-12 06:31] rultor commented on #51
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9013-231949000) (spent 1min)

[code]

[2016-07-12 06:45] yegor256 commented on #51
@rultor deploy

[2016-07-12 06:46] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9013-231951612)

[2016-07-12 06:49] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9013-231951612) (took me 3min)

[2016-08-13 12:15] krzyk opened #53 "pdd should fail build if @todo is not following a whitespace"
pdd should fail a build if `@todo` is after a non-whitespace character.

E.g. Incorrect puzzle:

[code]

`@todo` should either start before any characters in a line or should be after a whitespace.

[2016-08-16 12:21] davvd commented on #53
@yegor256 please do something about this issue

[2016-12-12 16:45] yegor256 opened #54 "rake is a runtime dependency"
Let's fix

[2016-12-12 16:45] #54 closed

[2016-12-12 16:47] yegor256 commented on #54
@rultor release, tag is `0.16`

[2016-12-12 16:48] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10231-266482898)

[2016-12-12 16:48] rultor commented on #54
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10231-266482898) (spent 11s)

[code]

[2016-12-12 16:49] yegor256 commented on #54
@rultor release, tag is `0.16`

[2016-12-12 16:50] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10231-266483339)

[2016-12-12 16:57] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10231-266483339) (took me 6min)

[2016-12-12 18:40] yegor256 opened #55 "PDD::Base must be usable from Ruby"
Let's add a new ctor

[2016-12-12 18:40] #55 closed

[2016-12-12 18:49] yegor256 commented on #55
@rultor release, tag is `0.16.1`

[2016-12-12 18:49] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10232-266516357)

[2016-12-12 18:52] rultor commented on #55
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10232-266516357) (took me 3min)

[2016-12-12 19:09] yegor256 opened #56 "get rid of filemagic"
Let's get rid of filemagic

[2016-12-12 19:09] #56 closed

[2016-12-12 19:34] yegor256 commented on #56
@rultor release, tag is `0.16.2`

[2016-12-12 19:35] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10233-266529012)

[2016-12-12 19:41] rultor commented on #56
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10233-266529012) (spent 6min)

[code]

[2016-12-12 19:44] yegor256 commented on #56
@rultor release, tag is `0.16.2`

[2016-12-12 19:48] rultor commented on #56
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10233-266531725) (spent 4min)

[code]

[2016-12-12 19:49] yegor256 commented on #56
@rultor release, tag is `0.16.3`

[2016-12-12 19:51] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10233-266533025)

[2016-12-12 19:55] rultor commented on #56
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10233-266533025) (spent 4min)

[code]

[2016-12-12 20:14] yegor256 commented on #56
@rultor release, tag is `0.16.3`

[2016-12-12 20:14] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10233-266539637)

[2016-12-12 20:19] rultor commented on #56
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10233-266539637) (spent 5min)

[code]

[2016-12-12 20:26] yegor256 commented on #56
@rultor release, tag is `0.16.3`

[2016-12-12 20:26] yegor256 commented on #56
@rultor release, tag is `0.16.4`

[2016-12-12 20:26] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10233-266542681)

[2016-12-12 20:30] rultor commented on #56
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10233-266542681) (took me 4min)

[2016-12-13 20:01] yegor256 opened #57 "--quiet"
Let's add a new `--quiet` command line flag, to prevent all logs.

[2016-12-13 20:01] #57 closed

[2016-12-13 20:46] yegor256 commented on #57
@rultor release, tag is `0.17`

[2016-12-13 20:47] yegor256 commented on #57
@rultor release, tag is `0.17`

[2016-12-13 20:49] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10247-266857219)

[2016-12-13 20:49] rultor commented on #57
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10247-266857219) (spent 12s)

[code]

[2016-12-13 20:56] yegor256 commented on #57
@rultor release, tag is `0.17`

[2016-12-13 20:57] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10247-266859443)

[2016-12-13 21:00] rultor commented on #57
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10247-266859443) (spent 3min)

[code]

[2016-12-13 21:01] yegor256 commented on #57
@rultor release, tag is `0.17`

[2016-12-13 21:03] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10247-266860604)

[2016-12-13 21:06] rultor commented on #57
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10247-266860604) (spent 3min)

[code]

[2016-12-13 21:20] yegor256 commented on #57
@rultor release, tag is `0.17`

[2016-12-13 21:20] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10247-266865348)

[2016-12-13 21:29] rultor commented on #57
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10247-266865348) (spent 9min)

[code]

[2016-12-13 21:31] yegor256 commented on #57
@rultor release, tag is `0.17`

[2016-12-13 21:32] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10247-266868166)

[2016-12-13 21:37] rultor commented on #57
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10247-266868166) (spent 6min)

[code]

[2016-12-13 21:38] yegor256 commented on #57
@rultor release, tag is `0.17.1`

[2016-12-13 21:40] rultor commented on #57
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10247-266869853)

[2016-12-13 21:45] rultor commented on #57
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10247-266869853) (took me 4min)

[2017-01-16 17:00] yegor256 opened #58 "test"
it's a test

[2017-01-16 17:03] 0crat commented on #58
@yegor256 I'm not managing this repository, please remove the [webhook](https://github.com/yegor256/pdd/settings/hooks) or contact me in [Slack](http://www.zerocracy.com)

[2017-01-16 17:03] #58 closed

[2017-01-23 08:12] 0pdd opened #59 "README.md:42-44: This is something to do later in one of ..."
The puzzle `234-b843faac` in `README.md` (lines 42-44) has to be resolved: This is something to do later in one of the next releases. I can't figure out how how to implement it now, that's why the puzzle.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 23-Jan-17.

Estimate: 15 minutes, role: DEV.

If you have any technical questions, don't ask me, submi

[2017-01-23 08:12] 0pdd commented on #59
@yegor256 please pay attention to this new issue.

[2017-01-23 08:12] 0crat commented on #59
@yegor256 please, pay attention to this issue

[2017-01-27 09:21] 0pdd commented on #59
The puzzle `234-b843faac` has disappeared from the source code, that's why I closed this issue.

[2017-01-27 09:21] #59 closed

[2017-01-27 09:21] 0crat commented on #59
Job `gh:yegor256/pdd#59` is not in scope

[2017-04-06 10:23] yegor256 opened #60 "source.rb:79: warning: character class has duplicated range"
[code]

[2017-04-06 12:40] yegor256 opened #61 "doesn't see dot-starting files"
see https://github.com/yegor256/0pdd/issues/62

[2017-04-06 13:20] yegor256 commented on #61
@rultor release, tag is `0.17.2`

[2017-04-06 13:21] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11345-292172197)

[2017-04-06 13:27] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11345-292172197) (took me 5min)

[2017-04-06 13:28] #61 closed

[2017-04-07 06:13] yegor256 opened #62 "binary files are not detected properly"

[2017-04-07 07:33] yegor256 commented on #62
@rultor release, tag is `0.17.3`

[2017-04-07 07:34] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11354-292463839)

[2017-04-07 07:36] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11354-292463839) (spent 3min)

[code]

[2017-04-07 07:46] yegor256 commented on #62
@rultor release, tag is `0.17.3`

[2017-04-07 07:46] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11354-292466340)

[2017-04-07 07:52] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11354-292466340) (took me 5min)

[2017-04-07 07:52] #62 closed

[2017-04-09 12:19] pchmielowski opened #63 "PDD fails in ugly way if puzzle line is followed by another (not puzzle) comment"
In my Python file I have:

        # @todo #0 uncomment following
        # self.__cache(stats)

After running `pdd`, it shows:

[code]

After inserting a blank line between these two, everything works fine.
I'm not sure if this is an incorrect behaviour, but for sure the **error message is very poor** - I think it should print at least line number with malformed puzzle.

[2017-04-09 12:19] 0crat commented on #63
@yegor256 please, pay attention to this issue

[2017-04-17 13:03] yegor256 opened #64 "file names with spaces fail the entire process"

[2017-04-17 13:03] yegor256 commented on #64
@rultor release, tag is `0.17.4`

[2017-04-17 13:04] rultor commented on #64
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11416-294482023)

[2017-04-17 13:10] rultor commented on #64
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11416-294482023) (took me 5min)

[2017-04-17 13:11] #64 closed

[2017-04-22 19:50] DronMDF opened #65 "Puzzle in xml parsed partial.."
puzzle in xml parse only first line of multiline puzzle.

[This is a text](https://github.com/DronMDF/laweb/blob/master/lawe/templates/operations.xml#L12-L15)

[This is a issue](https://github.com/DronMDF/laweb/issues/59)

I can not understand how to make the right format in xml...
The truth is this is not really xml...

[2017-04-22 19:50] 0crat commented on #65
@yegor256 please, pay attention to this issue

[2017-04-25 15:30] yegor256 commented on #65
@DronMDF this is how it should be:

[code]

[2017-04-25 15:49] DronMDF commented on #65
Where is it described in the documentation?
I tried to find them in the source code, but I could not.

pdd understand puzzle changes?

[2017-04-25 21:04] yegor256 commented on #63
@rultor release, tag is `0.17.5`

[2017-04-25 21:08] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11510-297164487)

[2017-04-25 21:10] rultor commented on #63
@pchmielowski @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11510-297164487) (spent 2min)

[code]

[2017-04-26 10:30] DronMDF commented on #65
Not understand. Pdd close one issue and open other.
Ok, problem is solved.

[2017-04-26 10:30] #65 closed

[2017-04-26 14:36] yegor256 commented on #63
@rultor release, tag is `0.17.5`

[2017-04-26 14:36] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11510-297428534)

[2017-04-26 14:39] rultor commented on #63
@pchmielowski @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11510-297428534) (spent 3min)

[code]

[2017-04-26 15:24] yegor256 commented on #63
@rultor release, tag is `0.17.5`

[2017-04-26 15:26] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11510-297446203)

[2017-04-26 15:30] rultor commented on #63
@pchmielowski @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11510-297446203) (spent 4min)

[code]

[2017-04-26 17:28] yegor256 commented on #60
@rultor release, tag is `0.17.5`

[2017-04-26 17:29] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11527-297483739)

[2017-04-26 17:34] rultor commented on #60
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11527-297483739) (spent 5min)

[code]

[2017-04-27 12:55] yegor256 commented on #60
@rultor release, tag is `0.17.5`

[2017-04-27 12:56] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11527-297705177)

[2017-04-27 12:57] rultor commented on #60
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11527-297705177) (spent 1min)

[code]

[2017-04-27 13:14] yegor256 commented on #60
@rultor release, tag is `0.17.5`

[2017-04-27 13:15] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11527-297709550)

[2017-04-27 13:18] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11527-297709550) (took me 3min)

[2017-04-27 13:19] #60 closed

[2017-04-27 13:20] yegor256 commented on #63
@pchmielowski try version 0.17.5 -- the problem is fixed there.

[2017-05-02 18:06] 0crat commented on #61
Oops! Job `gh:yegor256/pdd#61` was not in scope

[2017-05-02 18:07] 0crat commented on #62
Oops! Job `gh:yegor256/pdd#62` was not in scope

[2017-05-02 18:07] 0crat commented on #64
Oops! Job `gh:yegor256/pdd#64` was not in scope

[2017-05-02 18:08] 0crat commented on #65
Oops! Job `gh:yegor256/pdd#65` was not in scope

[2017-05-02 18:08] 0crat commented on #60
Oops! Job `gh:yegor256/pdd#60` was not in scope

[2017-05-11 19:54] yegor256 opened #66 "rule 'IMP' doesn't exist"
[code]

[2017-05-11 19:56] yegor256 commented on #66
@rultor release, tag is `0.17.6`

[2017-05-11 19:56] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11661-300899788)

[2017-05-11 20:02] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11661-300899788) (took me 5min)

[2017-05-11 20:04] #66 closed

[2017-05-11 20:04] 0crat commented on #66
Oops! Job `gh:yegor256/pdd#66` was not in scope

[2017-05-29 13:25] yegor256 opened #67 "exceptions are not verbose enough"
We must give a link to the formatting rules

[2017-05-29 13:36] yegor256 commented on #67
@rultor release, tag is `0.17.7`

[2017-05-29 13:37] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11802-304662925)

[2017-05-29 13:40] rultor commented on #67
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11802-304662925) (spent 3min)

[code]

[2017-05-29 13:41] yegor256 commented on #67
@rultor release, tag is `0.17.7`

[2017-05-29 13:42] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11802-304663820)

[2017-05-29 13:45] rultor commented on #67
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11802-304663820) (spent 3min)

[code]

[2017-05-29 13:47] yegor256 commented on #67
@rultor release, tag is `0.17.8`

[2017-05-29 13:48] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11802-304665115)

[2017-05-29 13:49] yegor256 opened #68 "pull request notifications"
Every time we see a new pull request we must calculate what it gives us, in terms of adding new puzzles and removing existing now. And then post a message to the pull request with a quick summary of what's going to happen. Just like codecov.io is doing about code coverage, for example: https://github.com/yegor256/cactoos/pull/48

[2017-05-29 13:52] rultor commented on #67
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11802-304665115) (took me 4min)

[2017-05-29 13:52] #67 closed

[2017-05-29 13:53] 0crat commented on #67
Oops! Job `gh:yegor256/pdd#67` was not in scope

[2017-05-29 13:53] yegor256 opened #69 "more information in emails"
Let's add some sugar

[2017-05-29 14:05] yegor256 commented on #69
@rultor release, tag is ``

[2017-05-29 14:05] #69 closed

[2017-05-29 14:05] 0crat commented on #69
Oops! Job `gh:yegor256/pdd#69` was not in scope

[2017-06-01 07:24] DronMDF opened #70 "Pdd closing active puzzle issues.."
dronmdf/2out#58 is closed, but puzzle text still in source code.

https://github.com/DronMDF/2out/blob/master/src/TextReport.cpp#L31

[2017-06-01 07:24] 0crat commented on #70
@yegor256 please, pay attention to this issue

[2017-06-02 10:12] yegor256 commented on #70
@DronMDF can you please re-submit it here: https://github.com/yegor256/0pdd/issues

[2017-06-02 10:12] #70 closed

[2017-06-02 10:13] #51 closed

[2017-06-02 10:13] 0crat commented on #51
Oops! Job `gh:yegor256/pdd#51` was not in scope

[2017-06-02 10:14] yegor256 commented on #49
@alexey-krylov I believe it's easy now, we don't have any specific dependencies anymore.

[2017-06-02 10:14] #49 closed

[2017-06-02 10:14] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11859-231905798)

[2017-06-02 10:16] rultor commented on #51
@yegor256 OK, I'll try to stop current task.

[2017-06-02 10:16] rultor commented on #51
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Done! FYI, the full log is [here](http://www.rultor.com/t/11859-231906916) (took me 2min)

[2017-06-02 10:19] rultor commented on #51
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11859-231906963)

[2017-06-02 10:22] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11859-231906963) (took me 3min)

[2017-06-02 10:33] DronMDF commented on #70
Sorry.

[2017-06-07 09:36] Slach opened #71 "max-duplicates not work"
i run following command
[code]

but catch following error
[code]

could you explain me how to use max-duplicates rule correctly ?

[2017-06-07 09:36] 0crat commented on #71
@yegor256 please, pay attention to this issue

[2017-06-07 11:39] yegor256 commented on #71
@Slach this is because of this line: https://github.com/yegor256/pdd/blob/0.17.8/lib/pdd.rb#L141 Let me try to fix it.

[2017-06-07 12:00] yegor256 commented on #71
@rultor release, tag is `0.17.9`

[2017-06-07 12:01] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11905-306773593)

[2017-06-07 12:09] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11905-306773593) (took me 7min)

[2017-06-07 12:14] yegor256 commented on #71
@Slach try it now. The problem is that we can't allow multiple duplicates in our XML report. They will cause many troubles in the future. So, `max-duplicates:1` is the best we can afford.

[2017-06-07 14:14] Slach commented on #71
ok. can you remove max-duplicates from README ?

[2017-06-08 12:26] #71 closed

[2017-06-08 12:26] 0crat commented on #71
Oops! Job `gh:yegor256/pdd#71` was not in scope

[2017-06-22 10:56] driver733 opened #72 "Is it possible to configure 0pdd bot to fetch puzzles from all branches (not just master)?"
As of now @0pdd creates issues only from the puzzles found in the master branch. I would like it to create issues from all branches.
This would be useful in the following scenario:

1. Create a puzzle in code.
2. Commit and push it to a new branch.
3. Write the code that closes the created issue.
4. Remove the puzzle from code.
5. Commit the code (the issue will be closed by the bot).
6. Merge the

[2017-06-22 10:56] 0crat commented on #72
@yegor256 please, pay attention to this issue

[2017-06-22 14:07] driver733 commented on #72
I have moved this issue to the 0pdd repo.
https://github.com/yegor256/0pdd/issues/97

[2017-06-22 14:07] #72 closed

[2017-06-22 14:07] 0crat commented on #72
Oops! Job `gh:yegor256/pdd#72` was not in scope

[2017-06-25 23:00] driver733 opened #73 "Please remove max-duplicates from the README.md"
This rule is no longer provided.
See #71

[2017-06-25 23:00] 0crat commented on #73
@yegor256 please, pay attention to this issue

[2017-06-28 16:10] yegor256 commented on #73
@driver733 see 178c3c6

[2017-06-28 22:02] driver733 commented on #73
@yegor256 Thank you!

[2017-06-28 22:03] #73 closed

[2017-09-08 10:02] DronMDF opened #74 "pdd is not process changes"
PR https://github.com/DronMDF/goost/pull/177 contain 2 new puzzle, and 1 removed puzzle.
PR merged in master.
Current (removed) puzzle still open.
New puzzle not created...

Service was down?

[2017-09-08 10:02] 0crat commented on #74
@yegor256 please, pay attention to this issue

[2017-09-09 21:11] DronMDF commented on #74
Sorry, i'm wrong.
Last version pdd parsed sources without problem.
This is a service problem.
https://github.com/yegor256/0pdd/issues/110

[2017-09-09 21:11] #74 closed

[2017-09-09 21:11] 0crat commented on #74
Oops! Job `gh:yegor256/pdd#74` was not in scope

[2017-10-02 08:23] yegor256 opened #75 "error logging is not user friendly"
Let's make it obvious for the user what happens when pdd fails.

[2017-10-02 14:57] yegor256 commented on #75
@rultor release, tag is `0.18`

[2017-10-02 14:57] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13065-333560041)

[2017-10-02 15:02] #68 closed

[2017-10-02 15:02] 0crat commented on #68
Oops! Job `gh:yegor256/pdd#68` was not in scope

[2017-10-02 15:02] rultor commented on #75
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13065-333560041) (took me 4min)

[2017-10-02 15:02] yegor256 commented on #68
migrated to https://github.com/yegor256/0pdd/issues/124

[2017-10-02 20:43] 0pdd opened #76 "source.rb:120-122: Let's make it possible to fetch..."
The puzzle `75-d7b58578` (from #75) in [`lib/pdd/source.rb`](https://github.com/yegor256/pdd/blob/master/lib/pdd/source.rb) (lines 120-122) has to be resolved: "Let's make it possible to fetch Subversion data in a similar way as we are doing with Git. We should also just skip it if it's not SVN."

The puzzle was created by Yegor Bugayenko on 02-Oct-17.

Estimate: 30 minutes, role: IMP.

If you hav

[2017-10-02 20:43] 0crat commented on #76
@yegor256 please, pay attention to this issue

[2017-10-03 15:32] 0crat commented on #76
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 15:32] 0crat commented on #76
Job `gh:yegor256/pdd#76` is in scope.

[2017-10-03 16:33] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 17:33] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 18:33] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 19:33] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 20:33] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 21:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-03 23:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 00:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 01:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 02:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 03:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 04:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 05:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 06:34] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 07:35] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 08:35] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 09:35] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 10:35] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 11:35] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 12:35] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 13:36] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 14:36] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 15:36] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 16:36] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 17:36] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-04 18:36] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-24 16:12] g4s8 opened #77 "PDD should fail if "todo" is invalid"
I mistyped `todo` comment with witespace after `#` char :
[code]
PDD just skipped this comment without error.

[2017-10-24 16:13] 0crat commented on #77
@yegor256 please, pay attention to this issue

[2017-10-24 17:15] 0crat commented on #77
@yegor256 please, pay attention to this issue

[2017-10-24 17:46] 0crat commented on #77
Job `gh:yegor256/pdd#77` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-24 17:47] 0crat commented on #77
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4320](http://www.0crat.com/u/yegor256).

[2017-10-24 18:15] 0crat commented on #77
@yegor256 please, pay attention to this issue

[2017-10-24 18:45] 0crat commented on #77
Oops! Job `gh:yegor256/pdd#77` is already assigned to @yegor256.

[2017-11-14 15:01] 0crat commented on #77
@yegor256 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:14] 0crat commented on #77
@yegor256 resigned from `gh:yegor256/pdd#77`, please stop working.

[2017-11-14 15:15] 0crat commented on #77
Oops! Job `gh:yegor256/pdd#77` is not assigned to anyone.

[2017-11-22 15:04] kalloc opened #78 "Unable to run local web version of 0pdd // missing config.yml"
I don't found example config.yml in repo, so if it possible, can you show me an example?

[code]

[2017-11-22 15:05] 0crat commented on #78
@yegor256 please, pay attention to this issue

[2017-11-23 12:42] yegor256 commented on #78
@kalloc can you please submit this ticket to this repository: https://github.com/yegor256/0pdd

[2017-11-23 12:42] #78 closed

[2017-12-01 19:13] php-coder opened #79 "Add more details about puzzle format"
I'm trying to use pdd and it fails:

Here is my TODO:
[code]

The things that I'd like to see clarified:
- does it support any form of the comments? (`//`, `#`, etc) or only `/** */`?
- is it required that a comment should be on a method? Could I put it on a class or any other line of code?
- is it required to write a comment in javadoc style? Does it support `/* */`?
- is it required to have a pu

[2017-12-01 19:13] 0crat commented on #79
@yegor256 please, pay attention to this issue

[2017-12-01 19:19] php-coder opened #80 "Consider using the exclusions from .gitignore"
If we scan a git repo, then it would be useful to use existing `.gitignore` file, so I don't need to specify all the exclusions manually (or duplicate them in a config file).

[2017-12-01 19:19] 0crat commented on #80
@yegor256 please, pay attention to this issue

[2017-12-01 19:37] yegor256 commented on #80
@php-coder sounds like a good idea, let me implement it

[2017-12-01 23:53] php-coder commented on #79
Self-answer: https://github.com/yegor256/0pdd/issues/27

[2017-12-02 00:43] php-coder opened #81 "Consider making puzzle marker optional"
At this time, author always have to specify at least one marker.

In order to support other workflows, it's better to make a marker optional. It makes possible to commit changes without related issue (time, etc), for example.

[2017-12-02 00:43] 0crat commented on #81
@yegor256 please, pay attention to this issue

[2017-12-02 00:44] php-coder commented on #79
I've created https://github.com/yegor256/pdd/issues/81 for that.

[2017-12-04 10:12] yegor256 commented on #81
@php-coder sounds like an interesting suggestion, but it will break the entire idea of PDD, I believe. All puzzles should have some "parent" issues, in order to create a hierarchy. If we put all of them on one level we will seriously simplify the idea... Maybe some projects need that simplicity though. Let's think..)

[2017-12-04 10:14] yegor256 commented on #79
@php-coder see 97306c3 Is it better now?

[2017-12-04 10:20] php-coder commented on #81
That's also make sense.

In any way, I do believe that assumptions/intentions/rules should be documented to make it clear what users should expect and also to limit of the scope where this tool could be used.

[2017-12-04 10:34] php-coder commented on #79
Yes, it's much better now! Thanks!

Could you also mention about subject/body format? You could enhance the existing example (with `sendEmail()` method) by writing something like that:
"After processing this method, the issue titled "File.java:10-10: This is something to do later..." will be created. The specified markers will be included in the issues body along with a some predefined text. If yo

[2017-12-04 15:41] yegor256 commented on #79
@php-coder how about now? 0f3ed2f

[2017-12-04 16:10] php-coder commented on #79
@yegor256 I posted my comment there.

[2017-12-04 20:47] yegor256 commented on #79
@php-coder see c635735

[2017-12-04 20:49] php-coder commented on #79
Thanks!

[2017-12-04 20:49] #79 closed

[2017-12-04 21:09] 0crat commented on #79
Oops! There is no order for job `gh:yegor256/pdd#79`.

[2017-12-04 21:16] yegor256 commented on #81
@php-coder how about dca9da9 ?

[2017-12-04 21:18] 0crat commented on #79
Oops! Job `gh:yegor256/pdd#79` is not in scope.

[2017-12-04 21:18] php-coder commented on #81
@yegor256 Super! Thanks!

[2017-12-07 14:09] #75 closed

[2017-12-07 14:10] yegor256 commented on #63
@pchmielowski I'm closing it, the problem is gone, in my opinion. If you see it again, please submit a new ticket. Thanks for using the tool and your contribution!

[2017-12-07 14:10] #63 closed

[2017-12-07 14:11] yegor256 commented on #77
@g4s8 seems to be a duplicate of #34

[2017-12-07 14:11] #77 closed

[2017-12-07 14:11] yegor256 commented on #37
@dispmaxstaff  I'm closing it, the problem is gone, in my opinion. If you see it again, please submit a new ticket. Thanks for using the tool and your contribution!

[2017-12-07 14:11] #37 closed

[2017-12-07 14:13] rultor commented on #37
@dispmaxstaff @yegor256 Invalid release tag `0.14.1` specified. There is already a release `0.18` newer than the given release in this repository.

[2017-12-07 14:13] rultor commented on #37
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2017-12-07 14:31] yegor256 commented on #34
@pinaf I believe it's fixed, check the latest version please. If you see this or similar problems again, please don't hesitate to open a new ticket.

[2017-12-07 14:31] #34 closed

[2017-12-07 14:34] yegor256 commented on #53
@rultor release, tag is `0.18.1`

[2017-12-07 14:35] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13547-349984484)

[2017-12-07 14:38] rultor commented on #53
@krzyk @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13547-349984484) (spent 3min)

[code]

[2017-12-07 14:44] yegor256 commented on #53
@rultor release, tag is `0.18.1`

[2017-12-07 14:45] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13547-349987230)

[2017-12-07 14:48] rultor commented on #53
@krzyk @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13547-349987230) (spent 3min)

[code]

[2017-12-07 14:54] yegor256 commented on #53
@rultor release, tag is `0.18.1`

[2017-12-07 14:55] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13547-349990542)

[2017-12-07 14:58] rultor commented on #53
@krzyk @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13547-349990542) (spent 3min)

[code]

[2017-12-07 15:04] yegor256 commented on #53
@rultor release, tag is `0.18.2`

[2017-12-07 15:05] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13547-349993744)

[2017-12-07 15:08] rultor commented on #53
@krzyk @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13547-349993744) (spent 3min)

[code]

[2017-12-07 15:21] yegor256 commented on #53
@rultor release, tag is `0.18.3`

[2017-12-07 15:22] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13547-349998805)

[2017-12-07 15:26] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13547-349998805) (took me 3min)

[2017-12-07 15:27] yegor256 commented on #53
@krzyk I believe it's fixed, try version 0.18.3. If you have any similar issues, please submit a new ticket. I'm closing this one.

[2017-12-07 15:27] #53 closed

[2017-12-07 16:51] yegor256 opened #82 "exit code 1 on PDD parsing errors"

[2017-12-07 17:04] yegor256 commented on #82
@rultor release, tag is `0.19`

[2017-12-07 17:05] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13551-350031229)

[2017-12-07 17:08] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13551-350031229) (took me 3min)

[2017-12-07 17:10] #82 closed

[2017-12-07 17:21] yegor256 opened #83 "exit code doesn't work"

[2017-12-07 17:21] yegor256 commented on #83
@rultor release, tag is `0.19.1`

[2017-12-07 17:22] rultor commented on #83
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13552-350035961)

[2017-12-07 17:25] rultor commented on #83
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13552-350035961) (spent 3min)

[code]

[2017-12-07 17:30] yegor256 commented on #83
@rultor release, tag is `0.19.1`

[2017-12-07 17:31] rultor commented on #83
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13552-350038505)

[2017-12-07 17:34] rultor commented on #83
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13552-350038505) (spent 3min)

[code]

[2017-12-07 17:35] yegor256 commented on #83
@rultor release, tag is `0.19.2`

[2017-12-07 17:36] rultor commented on #83
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13552-350039781)

[2017-12-07 17:40] rultor commented on #83
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13552-350039781) (took me 3min)

[2017-12-07 17:40] #83 closed

[2017-12-08 12:11] 0crat commented on #75
Oops! There is no order for job `gh:yegor256/pdd#75`.

[2017-12-08 12:12] 0crat commented on #75
Oops! Job `gh:yegor256/pdd#75` is not in scope.

[2017-12-08 12:12] 0crat commented on #63
Oops! There is no order for job `gh:yegor256/pdd#63`.

[2017-12-08 12:16] 0crat commented on #63
Oops! Job `gh:yegor256/pdd#63` is not in scope.

[2017-12-08 13:29] 0crat commented on #37
Oops! Job `gh:yegor256/pdd#37` is not in scope.

[2017-12-08 13:29] 0crat commented on #34
Oops! There is no order for job `gh:yegor256/pdd#34`.

[2017-12-08 13:29] 0crat commented on #34
Oops! Job `gh:yegor256/pdd#34` is not in scope.

[2017-12-08 13:29] 0crat commented on #77
Order was successfully finished: +30 points just awarded to @tedtoer, total is [+120](http://www.0crat.com/u/tedtoer).

[2017-12-08 13:33] 0crat commented on #77
Job `gh:yegor256/pdd#77` is now out of scope.

[2017-12-08 13:38] 0crat commented on #37
Oops! There is no order for job `gh:yegor256/pdd#37`.

[2017-12-08 14:38] 0crat commented on #53
Oops! There is no order for job `gh:yegor256/pdd#53`.

[2017-12-08 14:39] 0crat commented on #53
Oops! Job `gh:yegor256/pdd#53` is not in scope.

[2017-12-08 14:39] 0crat commented on #83
Oops! There is no order for job `gh:yegor256/pdd#83`.

[2017-12-08 16:38] 0crat commented on #83
Oops! Job `gh:yegor256/pdd#83` is not in scope.

[2017-12-11 13:41] yegor256 opened #84 "remove the absolute path from the file"
see https://github.com/yegor256/0pdd/issues/165

[2017-12-11 14:07] #76 closed

[2017-12-11 14:07] 0pdd commented on #76
The puzzle `75-d7b58578` has disappeared from the source code, that's why I closed this issue.

[2017-12-11 14:08] yegor256 commented on #84
@rultor release, tag is `0.19.3`

[2017-12-11 14:09] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13558-350734039)

[2017-12-11 14:13] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13558-350734039) (took me 3min)

[2017-12-11 14:25] #84 closed

[2017-12-11 16:45] yegor256 opened #85 "broken emails should not break XML"
For some reason we sometimes may have something instead of valid emails in Git logs. Let's filter them out so that they don't break the XML.

[2017-12-12 15:05] 0crat commented on #76
Job `gh:yegor256/pdd#76` is now out of scope.

[2017-12-12 15:05] 0crat commented on #76
Order was successfully finished: +30 points just awarded to @tedtoer, total is [+150](http://www.0crat.com/u/tedtoer).

[2017-12-12 16:18] 0crat commented on #85
Job `gh:yegor256/pdd#85` is in scope.

[2017-12-17 18:48] 0crat commented on #85
Job `gh:yegor256/pdd#85` assigned to @tedtoer. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-22 13:38] 0crat commented on #85
@tedtoer this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-22 19:41] yegor256 opened #86 "doesn't read in non UTF-8 encoding"
Let's enforce UTF-8 always.

[2017-12-22 19:43] yegor256 commented on #86
@rultor release, tag is `0.19.4`

[2017-12-22 19:44] rultor commented on #86
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13614-353663419)

[2017-12-22 19:47] rultor commented on #86
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13614-353663419) (took me 3min)

[2017-12-22 19:48] #86 closed

[2017-12-27 12:59] 0crat commented on #85
@tedtoer resigned from `gh:yegor256/pdd#85`, please stop working.

[2018-01-02 22:23] php-coder opened #87 "Document the process of file renaming"
I've just tried and see that if you rename a file with a comment but don't modify a comment itself, it doesn't affect existing issues! I was afraid that the old one will be closed and another one created as the file name has been changed.

I think it's good to explicitly states that in the documentation.

[2018-01-02 22:23] 0crat commented on #87
@yegor256 please, pay attention to this issue

[2018-01-03 08:08] yegor256 commented on #87
@php-coder check 1d6c76c what do you think?

[2018-01-03 12:00] php-coder commented on #87
Thanks! It's better now. It's a bit deep in the paragraph, but at least it exits.

[2018-01-03 12:00] #87 closed

[2018-01-03 12:00] 0crat commented on #87
Oops! Job `gh:yegor256/pdd#87` is not assigned, can't get start time

[2018-01-03 12:00] 0crat commented on #87
Oops! Job `gh:yegor256/pdd#87` was not in scope

[2018-01-08 10:20] yegor256 opened #88 "DEV as default role"

[2018-01-08 10:20] yegor256 commented on #88
@rultor release, tag is `0.20`

[2018-01-08 10:21] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13676-355928388)

[2018-01-08 10:24] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13676-355928388) (took me 3min)

[2018-01-08 10:36] #88 closed

[2018-01-08 10:36] 0crat commented on #88
Oops! Job `gh:yegor256/pdd#88` is not assigned, can't get start time

[2018-01-08 10:36] 0crat commented on #88
Oops! Job `gh:yegor256/pdd#88` was not in scope

[2018-01-17 16:23] g4s8 opened #89 "PDD can't parse another project markers"
I'm trying to add a puzzle with a marker's link to another Github project:
[code]
but `pdd` tool show an error:

[2018-01-17 16:23] 0crat commented on #89
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-17 21:35] yegor256 commented on #89
@g4s8 cross-projects markers are not supported, and should not be. PDD is only about one single repository, always.

[2018-01-17 21:35] #89 closed

[2018-01-17 21:35] 0crat commented on #89
Job `gh:yegor256/pdd#89` is not assigned, can't get start time

[2018-01-17 21:45] 0crat commented on #89
Job [#89](https://github.com/yegor256/pdd/issues/89) was not in scope

[2018-01-26 13:12] #81 closed

[2018-01-26 13:13] 0crat commented on #85
Job [#85](https://github.com/yegor256/pdd/issues/85) is already in scope

[2018-01-26 13:13] 0crat commented on #81
Job `gh:yegor256/pdd#81` is not assigned, can't get start time

[2018-01-26 13:14] yegor256 commented on #48
@longtimeago I believe it's fixed already. If you see this problem again, please report.

[2018-01-26 13:14] #48 closed

[2018-01-26 13:14] 0crat commented on #80
Job [#80](https://github.com/yegor256/pdd/issues/80) is now in scope, role is `DEV`

[2018-01-26 13:14] 0crat commented on #48
Job `gh:yegor256/pdd#48` is not assigned, can't get start time

[2018-01-26 13:14] 0crat commented on #32
Job [#32](https://github.com/yegor256/pdd/issues/32) is now in scope, role is `DEV`

[2018-01-26 13:14] 0crat commented on #32
Job [#32](https://github.com/yegor256/pdd/issues/32) is already in scope

[2018-01-26 13:17] longtimeago commented on #48
@yegor256 sure :D

[2018-01-26 13:23] 0crat commented on #81
Job [#81](https://github.com/yegor256/pdd/issues/81) was not in scope

[2018-01-26 13:24] 0crat commented on #48
Job [#48](https://github.com/yegor256/pdd/issues/48) was not in scope

[2018-02-02 07:59] DronMDF opened #90 "0pdd is not parse puzzle on debian/stretch?!?"
Build failed on circleci
https://circleci.com/gh/DronMDF/2out/62?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

pdd-0.20: Successfully installed pdd-0.20

[code]

Puzzle:
https://github.com/DronMDF/2out/blob/issue-288/.travis.yml#L53-L55

Puzzle is ok, on Travis pdd-0.20 pass without errors
https://travis-ci.org/DronMDF/2out/jobs/336446384

About system:
circle

[2018-02-02 07:59] 0crat commented on #90
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 14:47] yegor256 commented on #90
@DronMDF I can't find where PDD works inside Travis... The puzzle obviously has an error. It spells:

[code]

But it should be:

[code]

[2018-02-02 16:23] DronMDF commented on #90
Oh, yes... this is intresting..
On travis pdd invoke from style.sh... It is not invoked?
Upgrade local pdd to 0.20 and problem reproduced locally.
Thanks.

[2018-02-02 16:23] #90 closed

[2018-02-02 16:24] 0crat commented on #90
Job `gh:yegor256/pdd#90` is not assigned, can't get start time

[2018-02-02 16:33] 0crat commented on #90
Job [#90](https://github.com/yegor256/pdd/issues/90) was not in scope

[2018-02-14 14:34] 0crat commented on #85
The job [#85](https://github.com/yegor256/pdd/issues/85) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/451433435). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-14 19:53] rok-povsic commented on #85
@yegor256 Can you please give an example of a log where this occurs?

[2018-02-14 22:27] yegor256 commented on #85
@rok-povsic try this, in an empty local Git repo:

[code]

See the problem?

[2018-02-18 19:02] rok-povsic opened #92 "RuboCop does not pass on AppVeyor"
For example see [this build](https://ci.appveyor.com/project/yegor256/pdd-k8m39/build/70).

RuboCop passes on Travis for the same build.

[2018-02-18 19:02] 0crat commented on #92
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 18:45] yegor256 commented on #92
@rok-povsic should be fine now, after b650b69

[2018-02-19 18:48] yegor256 commented on #92
@rok-povsic all good: https://ci.appveyor.com/project/yegor256/pdd-k8m39

[2018-02-19 18:48] #92 closed

[2018-02-19 19:48] rok-povsic commented on #85
Hi @yegor256 , please close this issue, thanks.

[2018-02-21 19:00] rok-povsic commented on #85
@yegor256 Ping.

[2018-02-21 19:06] yegor256 commented on #85
@rok-povsic thanks!

[2018-02-21 19:06] #85 closed

[2018-02-21 19:06] yegor256 commented on #85
@rultor release, tag is `0.20.1`

[2018-02-21 19:07] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13971-367435404)

[2018-02-21 19:09] 0crat commented on #85
Order was finished, quality was "acceptable": +30 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), total is [+120](https://www.0crat.com/u/rok-povsic)

[2018-02-21 19:09] 0crat commented on #85
The job [#85](https://github.com/yegor256/pdd/issues/85) is now out of scope

[2018-02-21 19:15] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13971-367435404) (took me 7min)

[2018-02-21 21:58] yegor256 opened #93 "upgrade versions"
Let's upgrade them

[2018-02-21 22:02] yegor256 commented on #93
@rultor release, tag is `0.20.2`

[2018-02-21 22:02] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13973-367489749)

[2018-02-21 22:10] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13973-367489749) (took me 7min)

[2018-02-21 22:12] #93 closed

[2018-02-23 06:46] 0pdd commented on #59
@0pdd all puzzles are solved

[2018-02-23 07:01] 0pdd commented on #59
@0pdd all puzzles are solved

[2018-02-23 07:01] 0pdd commented on #76
@0pdd all puzzles are solved

[2018-03-05 12:50] g4s8 opened #94 "Pdd ignore invalid markers"
It seems that #77 and #34 bugs are reproducing again. `pdd` just skip invalid marker `@todo # 496:30min` here: https://github.com/zerocracy/farm/pull/705/files#diff-2a22f8d917b8e9354b8bad65c444fd5e without errors. I think it should fail in such case.

[2018-03-05 12:50] 0crat commented on #94
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 13:55] 0crat commented on #94
The job [#94](https://github.com/yegor256/pdd/issues/94) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/641352255). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, read

[2018-03-05 13:57] 0crat commented on #94
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-05 13:58] 0crat commented on #94
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 14:00] 0crat commented on #94
Job [#94](https://github.com/yegor256/pdd/issues/94) is already in scope

[2018-03-05 14:00] yegor256 commented on #94
@g4s8 it's fixed, thanks!

[2018-03-05 14:00] #94 closed

[2018-03-05 14:01] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14048-370427511)

[2018-03-05 14:04] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14048-370427511) (took me 3min)

[2018-03-05 14:17] 0crat commented on #94
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 14:17] 0crat commented on #94
The job [#94](https://github.com/yegor256/pdd/issues/94) is now out of scope

[2018-03-05 16:30] ralfw opened #95 "Improve puzzle format description"
Add syntax for puzzles to https://github.com/yegor256/pdd#how-to-format (or wherever it's relevant). This way it would be unambiguous how to format a puzzle. Examples always leave room for misunderstanding and require abstraction by every reader.

Of course, examples are easier to read than a syntax spec. So the spec is there only in case of doubt or error.

Example

[code]

[2018-03-05 16:30] 0crat commented on #95
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-07 17:23] 0crat commented on #95
Job [#95](https://github.com/yegor256/pdd/issues/95) is now in scope, role is `DEV`

[2018-03-07 17:23] 0crat commented on #95
Thanks for your contribution, @ralfw[/z](https://www.0crat.com/u/ralfw)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-02 08:12] nikolausm opened #96 "pdd does not recognize my puzzle"
`  // @todo #3 This should a developed as a small service.`

which refers to Ticked: https://github.com/HSHighStake/partner-dashboard/issues/3

**This sends me an email with the following content:**

[code]

[2018-04-02 08:12] 0crat commented on #96
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-02 08:12] 0crat commented on #96
@nikolausm[/z](https://www.0crat.com/u/nikolausm) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-02 20:34] yegor256 commented on #96
@nikolausm please, show the full text. What do you have before the puzzle and after?

[2018-04-02 21:34] nikolausm commented on #96
As requested, the second todo i‘ve added afterwards:

import { Component, OnInit } from '@angular/core';
import { FormsModule } from '@angular/forms';

@Component({
  selector: 'app-hs-salary-formular',
  templateUrl: './hs-salary-formular.component.html',
  styleUrls: ['./hs-salary-formular.component.css']
})
export class HsSalaryFormularComponent {
  technologies;
  types;

  // @todo #3 This sh

[2018-04-27 11:00] VsSekorin opened #97 "Single leading space"
But 38:3 is space.
Here: https://github.com/yegor256/cactoos-http/pull/17#issuecomment-383935296

[2018-04-27 11:01] 0crat commented on #97
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-27 11:01] 0crat commented on #97
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 04:10] SilasReinagel opened #98 "Many tests are ignored or broken"
I was trying to begin development on Pdd features, and the tests are in a very bad state of disrepair. Many are ignored or fail:

`test_pdd.rb`
Failed - test_basic
Not Detected - test_rules_failure
Ignored (Windows) - test_git_repo

`test_sources.rb`
Failed - test_fails_with_verbose_output
Ignored (Windows) - test_ignores_binary_files
Not Detected - test_detects_all_text_files
Not Detected - test_

[2018-05-02 04:10] 0crat commented on #98
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-03 11:17] 0crat commented on #98
Job [#98](https://github.com/yegor256/pdd/issues/98) is now in scope, role is `DEV`

[2018-05-03 11:18] 0crat commented on #98
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-05-24 20:45] #97 closed

[2018-05-25 15:06] 0crat commented on #32
The job [#32](https://github.com/yegor256/pdd/issues/32) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1451505158); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-28 07:12] 0crat commented on #95
The job [#95](https://github.com/yegor256/pdd/issues/95) assigned to @kaze[/z](https://www.0crat.com/u/kaze), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1480748138); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this]

[2018-06-02 07:37] 0crat commented on #95
@kaze[/z](https://www.0crat.com/u/kaze) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-04 15:08] 0crat commented on #32
The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#32](https://github.com/yegor256/pdd/issues/32), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-04 15:09] 0crat commented on #32
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-04 15:11] pbenety commented on #32
@alxn I did some tests and to exclude recursively you need to use `**/*`

[code]

Using `**\*` pdd gets all files.
[code]

[2018-06-04 15:15] 0crat commented on #32
The job [#32](https://github.com/yegor256/pdd/issues/32) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1551528998); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this](h

[2018-06-04 15:27] 0crat commented on #98
The job [#98](https://github.com/yegor256/pdd/issues/98) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1551541463); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-06 18:00] vl3 commented on #32
@yegor256
@alxn

What would be the workaround this?
As @pbenety said:
`$ pdd --verbose --file=/dev/null -e=dir_to_exclude/**/*`
works fine.

Should `$ pdd --verbose --file=/dev/null -e=dir_to_exclude/*` exclude all files inside _dir_to_exclude_ or it's just fine the way it is now?

[2018-06-07 07:14] 0crat commented on #95
The user @kaze[/z](https://www.0crat.com/u/kaze) resigned from [#95](https://github.com/yegor256/pdd/issues/95), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-07 07:14] 0crat commented on #95
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @kaze[/z](https://www.0crat.com/u/kaze)

[2018-06-09 16:36] 0crat commented on #32
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 17:37] 0crat commented on #98
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 18:58] t-izbassar opened #99 "Fails if force push used"
If the previous commit was amended and force pushed, then @0pdd fails to read the git. It fails with error:
[code]

[2018-06-09 18:58] 0crat commented on #99
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-09 18:58] 0crat commented on #99
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-10 14:03] t-izbassar commented on #99
moved to relevant repo.

[2018-06-10 14:03] #99 closed

[2018-06-10 14:19] 0crat commented on #99
Job `gh:yegor256/pdd#99` is not assigned, can't get performer

[2018-06-10 14:19] 0crat commented on #99
The job is not in WBS, won't close the order

[2018-06-10 19:44] vl3 commented on #32
I know that the bug is old but i'm doing my best to close it.
I think that it is invalid, it works as expected using _-e dir_to_exclude/**/*_. Globstar (**) is a feature that was introduced in bash 4 and in most shells  ** is equally expanded as *, as you can see:
[code]
@yegor256 Could you clarify what would be the expected behaviour of this? I think that the way it is it is just fine.

[2018-06-12 16:08] yegor256 commented on #32
@vl3 let's just close it, thanks

[2018-06-12 16:08] #32 closed

[2018-06-12 16:27] 0crat commented on #32
Order was finished: +30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-12 16:27] 0crat commented on #32
The job [#32](https://github.com/yegor256/pdd/issues/32) is now out of scope

[2018-06-13 00:52] pbenety commented on #98
@0crat waiting for review #101

[2018-06-13 00:53] 0crat commented on #98
@pbenety The impediment for [#98](https://github.com/yegor256/pdd/issues/98) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-18 12:44] 0pdd opened #102 "sources.rb:60-63: Change the implementation of this..."
The puzzle `98-9de926c6` from #98 has to be resolved:

https://github.com/yegor256/pdd/blob/0e25181c851e64fdda546660cd9b0d0449c6c9a6/lib/pdd/sources.rb#L60-L63

The puzzle was created by Paulo Benety on 13-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _re

[2018-06-18 12:44] 0pdd commented on #102
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `yegor256/pdd` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/yegor256/pdd/settings/collaboration):

[code]

[2018-06-18 12:44] 0pdd commented on #98
@SilasReinagel the puzzle [#102](https://github.com/yegor256/pdd/issues/102) is still not solved.

[2018-06-18 13:45] 0crat commented on #102
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-19 09:06] 0crat commented on #95
The job [#95](https://github.com/yegor256/pdd/issues/95) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1700902758); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-06-19 10:58] golyalpha commented on #95
@0crat Waiting for PR review (#103)

[2018-06-19 10:59] 0crat commented on #95
@golyalpha The impediment for [#95](https://github.com/yegor256/pdd/issues/95) was registered successfully by @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-06-21 14:26] php-coder opened #104 "Garbage characters in a puzzle name with Thymeleaf parser-level comment"
For the following comment:
[code]
@0pdd created the issue with a title `/collection/{slug}/estimation: optimize summing of prices */-->`.

I think that it has happened because pdd incorrectly parses [Thymeleaf parser-level comments](https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#thymeleaf-parser-level-comment-blocks).

Expected result: puzzle shouldn't have `*/-->` at the end.

[2018-06-21 14:28] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.28](https://github.com/zerocracy/farm): Issue: yegor256/pdd#104, Action: `opened`

[2018-06-24 08:01] 0crat commented on #104
Job [#104](https://github.com/yegor256/pdd/issues/104) is now in scope, role is `DEV`

[2018-06-24 08:01] 0crat commented on #104
Thanks for your contribution, @php-coder[/z](https://www.0crat.com/u/php-coder)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-24 08:07] 0crat commented on #95
Order was finished: +30 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-06-24 08:07] 0crat commented on #95
The job [#95](https://github.com/yegor256/pdd/issues/95) is now out of scope

[2018-06-28 08:53] 0crat commented on #80
The job [#80](https://github.com/yegor256/pdd/issues/80) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1790862472); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-29 07:17] krzyk opened #105 "pdd should store github user name not real name"
When 0pdd creates issues from puzzles it also mentions the puzzle created, e.g.: `The puzzle was created by Tolegen Izbassar on 22-May-18.`

This data is take from from XML produced by pdd, so pdd should store github username in xml, not users real name (which can be changed in github).

Instead of the real name of the author it would mention the github nick + make it a link to the user profile (n

[2018-06-29 07:17] 0crat commented on #105
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-29 07:17] 0crat commented on #105
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-30 14:01] pbenety commented on #98
@SilasReinagel please close this issue. The PR #101 that fix some tests was merged and the puzzle #102 was added to fix the ignored tests in Windows.

[2018-06-30 17:04] SilasReinagel commented on #98
@pbenety Tests are still broken on Windows. You'll need to open at leas tone more ticket, or fixed the offending non-ignored test.

[code]

[2018-06-30 17:48] SilasReinagel commented on #98
@pbenety Okay. There is still something broken. I can open a new bug later. At least this is some progress on making the build work.

[2018-06-30 17:48] #98 closed

[2018-06-30 18:04] 0crat commented on #98
Order was finished: +30 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-30 18:04] 0crat commented on #98
The job [#98](https://github.com/yegor256/pdd/issues/98) is now out of scope

[2018-07-01 16:38] SilasReinagel opened #106 "Allow `TODO:` and `TODO` as PDD tag to better align with C#/F# .NET Codebases"
For .NET Developers, they don't use annotations and the convention is to write TODO in all caps, sometimes with a : at the end.

It would be a very useful feature if 0pdd were able to treat those as Puzzle tags and the interpret the remainder of the puzzle to create a ticket.

This was one of the reasons I stopped using 0pdd in some of my .NET projects. It was very inconsistent from the normal cod

[2018-07-01 16:38] 0crat commented on #106
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-01 19:28] 0crat commented on #105
Job [#105](https://github.com/yegor256/pdd/issues/105) is now in scope, role is `DEV`

[2018-07-01 19:28] 0crat commented on #105
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-02 11:52] 0crat commented on #106
Job [#106](https://github.com/yegor256/pdd/issues/106) is now in scope, role is `DEV`

[2018-07-02 11:52] 0crat commented on #106
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-07-03 10:39] 0crat commented on #80
@danielpalafox[/z](https://www.0crat.com/u/danielpalafox) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-06 06:42] 0crat commented on #104
The job [#104](https://github.com/yegor256/pdd/issues/104) assigned to @a6cexz[/z](https://www.0crat.com/u/a6cexz), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1870656904); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 06:47] 0crat commented on #105
The job [#105](https://github.com/yegor256/pdd/issues/105) assigned to @a6cexz[/z](https://www.0crat.com/u/a6cexz), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1870661965); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 06:52] 0crat commented on #106
The job [#106](https://github.com/yegor256/pdd/issues/106) assigned to @a6cexz[/z](https://www.0crat.com/u/a6cexz), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1870667026); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 07:44] a6cexz commented on #105
@yegor256 any idea how pdd can fetch github user name? currently it gets author using git blame, however, the name configured in git is not github user name.

[2018-07-06 11:39] yegor256 commented on #105
@a6cexz I have no idea right off the bat. @krzyk any ideas?

[2018-07-06 11:56] 0crat commented on #80
The job [#80](https://github.com/yegor256/pdd/issues/80) assigned to @timeracers[/z](https://www.0crat.com/u/timeracers), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871158353); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-06 12:06] krzyk commented on #105
@a6cexz @yegor256 OK, now I see the problem.

Is using github API an option?
I think we could https://developer.github.com/v3/search/#search-commits and select the commit that we have in the blame.
And from that response get `author.login` and `author.url`.

[2018-07-06 13:21] a6cexz commented on #105
@krzyk thanks, this might do it, I think can simply query the search api to get login from email.
I think we can set github login in the author tag instead of git use name if github search query was successful

[2018-07-08 07:04] a6cexz commented on #105
@krzyk the pull request #107 with fixes for this issue was recently merged, please close this job

[2018-07-08 07:11] a6cexz opened #108 "tests doesn't work under windows"
There are several tests ignored on windows, e.g. test_reads_git_author. These tests are ignored via "skip if Gem.win_platform?" but this makes it very difficult to develop, since you can not run the entire test suite.
Imho these tests should not be ignored and should be fixed.

[2018-07-08 07:11] 0crat commented on #108
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-08 07:53] krzyk commented on #105
@a6cexz cool, thank you

[2018-07-08 07:53] #105 closed

[2018-07-08 08:08] 0crat commented on #105
Order was finished: +30 point(s) just awarded to @a6cexz[/z](https://www.0crat.com/u/a6cexz)

[2018-07-08 08:08] 0crat commented on #105
The job [#105](https://github.com/yegor256/pdd/issues/105) is now out of scope

[2018-07-08 08:08] 0crat commented on #108
Job [#108](https://github.com/yegor256/pdd/issues/108) is now in scope, role is `DEV`

[2018-07-08 08:09] 0crat commented on #108
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @a6cexz[/z](https://www.0crat.com/u/a6cexz)

[2018-07-08 16:35] a6cexz commented on #106
@0crat wait #107

[2018-07-08 16:40] 0crat commented on #106
@a6cexz The impediment for [#106](https://github.com/yegor256/pdd/issues/106) was registered successfully by @a6cexz[/z](https://www.0crat.com/u/a6cexz)

[2018-07-11 07:37] 0crat commented on #104
@a6cexz[/z](https://www.0crat.com/u/a6cexz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 12:37] 0crat commented on #80
@timeracers[/z](https://www.0crat.com/u/timeracers) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 19:56] a6cexz commented on #104
@0crat wait #110

[2018-07-11 19:56] 0crat commented on #104
@a6cexz The impediment for [#104](https://github.com/yegor256/pdd/issues/104) was registered successfully by @a6cexz[/z](https://www.0crat.com/u/a6cexz)

[2018-07-12 05:17] #104 closed

[2018-07-12 05:33] 0crat commented on #104
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @php-coder[/z](https://www.0crat.com/u/php-coder) (its creator); I won't close the order; please, re-open it and ask @php-coder[/z](https://www.0crat.com/u/php-coder) to close it

[2018-07-12 07:02] a6cexz commented on #104
@php-coder please close this issue, #110 pr with the fix was recently merged

[2018-07-12 10:37] php-coder commented on #104
@a6cexz I can't close it (there is no button for that).

[2018-07-12 17:10] a6cexz commented on #104
@php-coder I think you need to re-open this issue and them close it

[2018-07-12 17:16] php-coder commented on #104
@a6cexz I can't reopen it either.

[2018-07-12 20:41] a6cexz commented on #104
@yegor256 would you please reopen and close this ticket, as it seems only you can do it, would greatly appreciate your help with this.

[2018-07-16 13:45] 0crat commented on #106
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @SilasReinagel (its creator); I won't close the order; please, re-open it and ask @SilasReinagel to close it

[2018-07-16 14:06] SilasReinagel commented on #106
@yegor256 Can you please re-open this ticket, so that@a6cexz can earn his points?

[2018-07-16 14:29] yegor256 commented on #106
@SilasReinagel done

[2018-07-16 14:29] 0crat commented on #106
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-16 15:36] #106 closed

[2018-07-16 15:51] 0crat commented on #106
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.25.15](https://github.com/zerocracy/farm): CID: [1971537906](https://www.0crat.com/C3T46CUJJ/1971537906), Type: "Close job", Author: "silasreinagel"

[2018-07-16 15:51] 0crat commented on #106
Order was finished: +30 point(s) just awarded to @a6cexz[/z](https://www.0crat.com/u/a6cexz)

[2018-07-16 15:51] 0crat commented on #106
The job [#106](https://github.com/yegor256/pdd/issues/106) is now out of scope

[2018-07-19 15:18] php-coder opened #111 "Garbage characters in a puzzle name with HTML comment"
For the following comment:

``

@0pdd created an issue with a title `AddCategoryDbDto: port to a new datetime API -->`

Expected result: puzzle shouldn't have `-->` at the end.

This issue is similar to #104 but with another comment type.

[2018-07-19 15:18] 0crat commented on #111
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-19 15:18] 0crat commented on #111
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-20 07:52] yegor256 commented on #111
@php-coder I don't think it's fixable... You formatted your puzzle incorrectly in the first place. It should be like this:

[code]

[2018-07-20 07:52] #111 closed

[2018-07-20 07:59] php-coder commented on #111
@yegor256 A similar comment was fixed in #104, so it's definitely fixable. So, now we have inconsistency when one type of comments works but another doesn't.

[2018-07-20 08:09] 0crat commented on #111
Job `gh:yegor256/pdd#111` is not assigned, can't get performer

[2018-07-20 08:09] 0crat commented on #111
The job is not in WBS, won't close the order

[2018-07-20 09:49] 0crat commented on #104
@a6cexz[/z](https://www.0crat.com/u/a6cexz) resigned from [#104](https://github.com/yegor256/pdd/issues/104), since the job is not in scope anymore

[2018-07-20 09:49] 0crat commented on #104
The job [#104](https://github.com/yegor256/pdd/issues/104) is now out of scope

[2018-07-24 13:45] emilianodellacasa opened #112 "Add a --pretend parameter"
It happens often that the puzzle format it is not correct, but this is recognized only by travis, once that the code is sent to Github.

I think it will be useful to have a "--pretend" param, that performs the checks on the puzzle format and throws an error if something is wrong.

This should be included for example in the "rake" task for Zold.

[2018-07-24 13:46] 0crat commented on #112
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-24 13:46] 0crat commented on #112
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-25 17:01] yegor256 commented on #112
@emilianodellacasa I'm not sure I understand. In order to check your source code just run:

[code]

[2018-07-25 17:01] #112 closed

[2018-07-25 17:16] 0crat commented on #112
The job is not in WBS, won't close the order

[2018-07-25 17:16] 0crat commented on #112
Job `gh:yegor256/pdd#112` is not assigned, can't get performer

[2018-08-06 08:00] golyalpha opened #113 "Change ruby version constraint"
The current ruby interpreter version constraint is not ideal.
'>=2.2' implies that '3.*' versions are fine as well. While there currently isn't a 3.x version of Ruby, it could potentially contain code breaking changes, once it is released, and could cause unnecessary bug reports caused by someone using the incorrect version of the interpreter.

I propose a change of the version constraint from '>=

[2018-08-06 08:00] 0crat commented on #113
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-08 14:45] 0crat commented on #113
Job [#113](https://github.com/yegor256/pdd/issues/113) is now in scope, role is `DEV`

[2018-08-08 14:46] 0crat commented on #113
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-09-18 05:13] 0crat commented on #108
The job [#108](https://github.com/yegor256/pdd/issues/108) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610522265); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-09-18 05:57] 0crat commented on #113
The job [#113](https://github.com/yegor256/pdd/issues/113) assigned to @dferdian[/z](https://www.0crat.com/u/dferdian), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610567818); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-09-23 06:33] 0crat commented on #108
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 06:45] 0crat commented on #113
@dferdian[/z](https://www.0crat.com/u/dferdian) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-25 17:58] golyalpha commented on #108
@0crat resign

[2018-09-25 18:17] 0crat commented on #108
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#108](https://github.com/yegor256/pdd/issues/108), please stop working. Reason for job resignation: Order was cancelled

[2018-09-25 18:59] 0crat commented on #108
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-09-25 19:05] 0crat commented on #108
The job [#108](https://github.com/yegor256/pdd/issues/108) assigned to @snugghash[/z](https://www.0crat.com/u/snugghash), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2681819466); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-09-30 19:14] 0crat commented on #108
@snugghash[/z](https://www.0crat.com/u/snugghash) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-01 20:00] snugghash commented on #108
@0crat resign

[2018-10-01 22:30] 0crat commented on #108
@snugghash The user @snugghash[/z](https://www.0crat.com/u/snugghash) resigned from [#108](https://github.com/yegor256/pdd/issues/108), please stop working. Reason for job resignation: Order was cancelled

[2018-10-01 23:38] 0crat commented on #108
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @snugghash[/z](https://www.0crat.com/u/snugghash)

[2018-11-19 07:06] yegor256 opened #114 "Rake task"
Let's create a rake task

You may see how Rake task is implemented in this repo: [yegor256/xcop](https://github.com/yegor256/xcop)

[2018-12-25 13:41] yegor256 commented on #104
@rultor release, tag is `0.20.4`

[2018-12-25 13:42] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15319-449851429)

[2018-12-25 13:45] rultor commented on #104
@php-coder @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/15319-449851429) (spent 3min)

[code]

[2018-12-25 13:54] yegor256 commented on #104
@rultor release, tag is `0.20.4`

[2018-12-25 13:55] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15319-449852229)

[2018-12-25 13:59] rultor commented on #104
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15319-449852229) (took me 3min)

[2018-12-30 19:27] php-coder opened #115 "Document more TODO patterns"
#106 adds more patterns for TODO entries that aren't documented. It would be good to have them documented on https://github.com/yegor256/pdd/blob/master/README.md#how-to-format

[2019-01-01 16:05] fabriciofx opened #116 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:05] 0crat commented on #116
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-01 16:05] 0crat commented on #116
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-12 11:52] php-coder opened #117 "[bug][regression] fails on TODO word inside of the XML tag"
With the latest changes, pdd can't parse the following valid CheckStyle configuration:
[code]
Error:
[code]

[2019-01-12 11:52] 0crat commented on #117
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-12 11:52] 0crat commented on #117
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-16 06:42] yegor256 commented on #117
@php-coder I believe the only solution here is to `--exclude` this file in your `.pdd` config. What would you suggest otherwise?

[2019-01-16 09:42] php-coder commented on #117
@yegor256 Could we update the rules/regexp to not treat `value="TODO` as a comment? It obviously isn't a comment at all.

[2019-01-23 06:02] yegor256 commented on #117
@php-coder how about we add something like this:

[code]

WDYT?

[2019-01-23 14:18] php-coder commented on #117
@yegor256 Yes, it will solve this and similar issues. Also it should be implemented on 0pdd.

[2019-05-15 13:26] yegor256 commented on #116
@rultor release, tag is `0.20.5`

[2019-05-15 13:26] #116 closed

[2019-05-15 13:28] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18905-492653770)

[2019-05-15 13:32] rultor commented on #116
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18905-492653770) (took me 3min)

[2019-05-15 13:37] yegor256 commented on #116
@fabriciofx fixed, thanks

[2019-05-15 13:45] 0crat commented on #116
Job `gh:yegor256/pdd#116` is not assigned, can't get performer

[2019-05-15 13:45] 0crat commented on #116
This job is not in scope

[2019-06-12 16:26] fabriciofx opened #118 "Let's add support to JSON files"
Some configuration files have been written in JSON format. So let's add support to them. We can use something like: `"_comment": "@todo #123:30min Subject..."`. WDYT?

[2019-06-12 16:26] 0crat commented on #118
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-12 16:26] 0crat commented on #118
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-12 18:16] lastk commented on #118
I don't think you should use a key in the json file to add a @todo. Depending of where/how you're using this file it may even trigger some error for having unsupported key. Maybe just add the puzzle where you're supposed to use the parsed config?

[2019-06-12 19:47] fabriciofx commented on #118
@lastk you're right. I'll close this issue because it doesn't make any sense. Thanks!

[2019-06-12 20:07] #118 closed

[2019-06-12 20:24] 0crat commented on #118
Job `gh:yegor256/pdd#118` is not assigned, can't get performer

[2019-06-12 20:24] 0crat commented on #118
This job is not in scope

[2019-07-03 13:10] 0crat commented on #96
Job [#96](https://github.com/yegor256/pdd/issues/96) is now in scope, role is `DEV`

[2019-07-03 13:10] 0crat commented on #96
Thanks for your contribution, @nikolausm[/z](https://www.0crat.com/u/nikolausm)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-07-05 04:50] aivinog1 commented on #114
@yegor256 I want to help you with this one. I want to start with a small pull request with PDD todos.

[2019-07-05 05:51] yegor256 commented on #114
@aivinog1 great, let's do it. Here is where you can find a good example: https://github.com/yegor256/xcop/blob/master/lib/xcop/rake_task.rb Don't forget about unit tests.

[2019-07-05 06:14] aivinog1 commented on #114
@yegor256 Ok, thanks!

[2019-07-05 08:20] aivinog1 opened #119 "Bin directory from rubocop is excluded"
See this: https://github.com/yegor256/pdd/blob/48cd3ba95a258e438ed9a0e5b0a37de71fdde57f/.rubocop.yml#L3

The bin folder must be checked by the Rubocop.

[2019-07-05 08:20] 0crat commented on #119
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-05 08:20] 0crat commented on #119
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-09 04:22] aivinog1 opened #121 "Build of the project is broken."
Found in #120.

For now, a build of the whole project is broken (see this: https://travis-ci.org/yegor256/pdd/builds/556113316?utm_source=github_status&utm_medium=notification).

I suppose that we need to update the ruby version.

[2019-07-09 04:22] 0crat commented on #121
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 04:22] 0crat commented on #121
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-09 04:23] aivinog1 commented on #121
@yegor256 if don't mind I'll try to fix this issue myself.

[2019-07-09 04:29] aivinog1 commented on #121
@yegor256 I see that since f14af438f5e24f01754d654018740e79f3ee1efd the project doesn't have  success build at all.

[2019-07-09 04:45] aivinog1 opened #123 "Update ruby version to 2.3"
After #122. Seem to be that the lowest ruby version of the project became 2.3. It needs to change it in the following files:

- [x] https://github.com/yegor256/pdd/blob/master/pdd.gemspec
- [x] https://github.com/yegor256/pdd/blob/master/.rubocop.yml
- [x] https://github.com/yegor256/pdd/blob/master/appveyor.yml

And maybe in other files.

[2019-07-09 04:45] 0crat commented on #123
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 04:45] 0crat commented on #123
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-09 05:08] 0crat commented on #121
Job [#121](https://github.com/yegor256/pdd/issues/121) is now in scope, role is `DEV`

[2019-07-09 05:09] 0crat commented on #121
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-09 05:10] #121 closed

[2019-07-09 05:16] #114 closed

[2019-07-09 05:16] yegor256 commented on #119
@aivinog1 feel free to submit a pull request

[2019-07-09 05:16] yegor256 commented on #119
@0crat assign @aivinog1

[2019-07-09 05:28] 0crat commented on #119
@yegor256 The job [#119](https://github.com/yegor256/pdd/issues/119) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/d18cb9fa-6142-47b0-ba32-3b22bbe2884d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-09 05:32] aivinog1 opened #124 "Needs to fix collecting puzzles in the project"
For now, puzzles are failed to collect, see this: https://github.com/yegor256/pdd/pull/122#commitcomment-34229389.

It needs to investigate and make puzzles collectible.

[2019-07-09 05:32] 0crat commented on #124
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 05:32] 0crat commented on #124
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-09 05:33] 0crat commented on #119
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 05:33] 0crat commented on #119
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 05:33] 0crat commented on #121
Job `gh:yegor256/pdd#121` is not assigned, can't get performer

[2019-07-09 05:34] 0crat commented on #119
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-09 05:34] 0crat commented on #114
Job `gh:yegor256/pdd#114` is not assigned, can't get performer

[2019-07-09 05:34] 0crat commented on #121
The job [#121](https://github.com/yegor256/pdd/issues/121) is now out of scope

[2019-07-09 05:34] 0crat commented on #114
This job is not in scope

[2019-07-09 05:40] yegor256 commented on #124
@aivinog1 fixed in 5a9c16f thanks!

[2019-07-09 05:40] #124 closed

[2019-07-09 05:40] 0pdd opened #125 "rake_task.rb:9-10: We need to create implementation of..."
The puzzle `114-b69d9185` from #114 has to be resolved:

https://github.com/yegor256/pdd/blob/5a9c16ff2c130e1efc5fefee31b91437b29b9a91/lib/pdd/rake_task.rb#L9-L10

The puzzle was created by @yegor256 on 09-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2019-07-09 05:40] 0pdd commented on #125
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `yegor256/pdd` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/yegor256/pdd/settings/collaboration):

[code]

[2019-07-09 05:40] 0pdd opened #126 "rake.feature:11-13: For now, there haven't a proper..."
The puzzle `114-89012c92` from #114 has to be resolved:

https://github.com/yegor256/pdd/blob/5a9c16ff2c130e1efc5fefee31b91437b29b9a91/features/rake.feature#L11-L13

The puzzle was created by Alexey Vinogradov on 09-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2019-07-09 05:40] 0pdd commented on #126
I can't create GitHub labels `pdd`. Most likely I don't have necessary permissions to `yegor256/pdd` repository. Please, make sure @0pdd user is in the [list of collaborators](https://github.com/yegor256/pdd/settings/collaboration):

[code]

[2019-07-09 05:40] 0pdd commented on #114
@yegor256 2 puzzles [#125](https://github.com/yegor256/pdd/issues/125), [#126](https://github.com/yegor256/pdd/issues/126) are still not solved.

[2019-07-09 05:41] 0crat commented on #126
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 05:41] 0crat commented on #125
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 05:42] yegor256 commented on #126
@0crat assign @aivinog1

[2019-07-09 05:42] yegor256 commented on #125
@0crat assign @aivinog1

[2019-07-09 05:49] 0crat commented on #125
@yegor256 The job [#125](https://github.com/yegor256/pdd/issues/125) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/bf2832cb-39eb-4b5f-a2c4-6706cc03f23f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-09 05:49] 0crat commented on #126
@yegor256 The job [#126](https://github.com/yegor256/pdd/issues/126) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/27327273-2013-4e63-ac0d-9e3e52b2583d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-09 05:55] 0crat commented on #126
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 05:57] 0crat commented on #125
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-09 05:57] 0crat commented on #124
Job `gh:yegor256/pdd#124` is not assigned, can't get performer

[2019-07-09 05:58] 0crat commented on #124
This job is not in scope

[2019-07-09 09:58] aivinog1 opened #128 "Pdd can't create a github label"
See this: https://github.com/yegor256/pdd/issues/126#issuecomment-509496510

The message of the issue is pretty clear:

Needs to fix it.

[2019-07-09 09:58] 0crat commented on #128
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-09 09:58] 0crat commented on #128
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-10 07:27] yegor256 commented on #128
@aivinog1 fixed already, thanks

[2019-07-10 07:27] #128 closed

[2019-07-10 07:29] yegor256 commented on #123
@0crat assign @aivinog1

[2019-07-10 09:25] 0crat commented on #123
@yegor256 The job [#123](https://github.com/yegor256/pdd/issues/123) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/6b82527a-9fe1-4b69-b197-f45671e5f087); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-10 09:25] 0crat commented on #128
Job `gh:yegor256/pdd#128` is not assigned, can't get performer

[2019-07-10 09:32] 0crat commented on #119
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @aivinog1[/z](https://www.0crat.com/u/aivinog1) (its creator); I won't close the order; please, re-open it and ask @aivinog1[/z](https://www.0crat.com/u/aivinog1) to close it

[2019-07-10 09:34] 0crat commented on #128
This job is not in scope

[2019-07-10 09:34] 0crat commented on #123
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-10 09:36] 0crat commented on #123
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-10 09:36] 0crat commented on #123
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-10 10:28] aivinog1 commented on #119
@yegor256 Can you reopen this ticket that I can close its properly.

[2019-07-11 08:19] 0pdd commented on #125
The puzzle `114-b69d9185` has disappeared from the source code, that's why I closed this issue.

[2019-07-11 08:19] #125 closed

[2019-07-11 08:19] 0pdd opened #132 "rake_task.rb:10-12: Needs to have more parameters to run..."
The puzzle `125-7d80a284` from #125 has to be resolved:

https://github.com/yegor256/pdd/blob/9ff4023b83610ccd06acce934d321ff2edeec35c/lib/pdd/rake_task.rb#L10-L12

The puzzle was created by Alexey Vinogradov on 10-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-07-11 08:19] 0pdd opened #133 "rake_task.rb:24-26: need to implement this method. For..."
The puzzle `125-db127bd1` from #125 has to be resolved:

https://github.com/yegor256/pdd/blob/9ff4023b83610ccd06acce934d321ff2edeec35c/lib/pdd/rake_task.rb#L24-L26

The puzzle was created by Alexey Vinogradov on 10-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-07-11 08:19] 0pdd commented on #114
@yegor256 3 puzzles [#126](https://github.com/yegor256/pdd/issues/126), [#132](https://github.com/yegor256/pdd/issues/132), [#133](https://github.com/yegor256/pdd/issues/133) are still not solved; solved: [#125](https://github.com/yegor256/pdd/issues/125).

[2019-07-11 08:19] 0pdd commented on #125
@0pdd 2 puzzles [#132](https://github.com/yegor256/pdd/issues/132), [#133](https://github.com/yegor256/pdd/issues/133) are still not solved.

[2019-07-11 08:20] 0crat commented on #133
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-11 08:21] 0crat commented on #132
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-11 08:26] 0pdd opened #134 ".rubocop.yml:19-21: Needs to enable this check and fix..."
The puzzle `123-9786ef4c` from #123 has to be resolved:

https://github.com/yegor256/pdd/blob/639dac606fa77d510f9da2c77d76850a65148877/.rubocop.yml#L19-L21

The puzzle was created by Alexey Vinogradov on 10-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-07-11 08:26] 0pdd commented on #123
@aivinog1 the puzzle [#134](https://github.com/yegor256/pdd/issues/134) is still not solved.

[2019-07-11 08:27] 0crat commented on #134
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-11 08:41] 0crat commented on #133
Job [#133](https://github.com/yegor256/pdd/issues/133) is now in scope, role is `DEV`

[2019-07-11 08:57] 0crat commented on #132
Job [#132](https://github.com/yegor256/pdd/issues/132) is now in scope, role is `DEV`

[2019-07-11 09:14] aivinog1 commented on #125
@yegor256 Why @0crat didn't add my reputation points to closing this issue? I can still see this job on the Zerocracy agenda.

[2019-07-11 09:14] 0crat commented on #125
Are you speaking to me or about me [here](https://github.com/yegor256/pdd/issues/125#issuecomment-510403439); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-07-11 09:52] aivinog1 commented on #123
So, I think this issue is done. A new puzzle was created.

[2019-07-11 09:52] #123 closed

[2019-07-11 10:15] aivinog1 commented on #123
@yegor256 Why @0crat doesn't remove this issue from me? Where is my reputation points?

[2019-07-11 10:15] 0crat commented on #123
Are you speaking to me or about me [here](https://github.com/yegor256/pdd/issues/123#issuecomment-510424912); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-07-11 10:15] aivinog1 commented on #125
@0crat status

[2019-07-11 10:57] yegor256 commented on #123
@0crat status

[2019-07-11 11:09] 0crat commented on #134
Job [#134](https://github.com/yegor256/pdd/issues/134) is now in scope, role is `DEV`

[2019-07-11 11:33] yegor256 commented on #123
@aivinog1 there is a bug with Zerocrat, most probably. Report it.

[2019-07-11 11:37] aivinog1 commented on #123
@yegor256 Thanks!

[2019-07-11 12:09] 0crat commented on #125
@dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-11 12:18] 0crat commented on #125
@aivinog1 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#125](https://github.com/yegor256/pdd/issues/125) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is n

[2019-07-11 12:18] 0crat commented on #123
@yegor256 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#123](https://github.com/yegor256/pdd/issues/123) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1) for [1days](http://www.z

[2019-07-11 12:18] 0crat commented on #125
Job [#125](https://github.com/yegor256/pdd/issues/125) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't inspect

[2019-07-11 12:18] 0crat commented on #125
The job [#125](https://github.com/yegor256/pdd/issues/125) is now out of scope

[2019-07-11 12:20] 0crat commented on #123
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-07-11 12:22] 0crat commented on #123
@dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-11 12:24] 0crat commented on #123
Job [#123](https://github.com/yegor256/pdd/issues/123) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't inspect

[2019-07-11 12:36] 0crat commented on #123
The job [#123](https://github.com/yegor256/pdd/issues/123) is now out of scope

[2019-07-11 13:59] aivinog1 commented on #134
@yegor256 Can you assign this issue to me, please?

[2019-07-11 14:00] aivinog1 commented on #133
@yegor256 Can you assign this issue to me, please?

[2019-07-11 14:01] aivinog1 commented on #132
@yegor256 Can you assign this issue to me, please?

[2019-07-13 01:58] aivinog1 commented on #125
@0crat status

[2019-07-13 02:00] 0crat commented on #125
@aivinog1 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#125](https://github.com/yegor256/pdd/issues/125) is not in scope
  * The job is waiting quality review verdict by @dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) for 2days
  * @aivinog1[/z](https://www.0crat.com/u/aivinog

[2019-07-13 03:42] aivinog1 commented on #119
@yegor256 ping.

[2019-07-13 09:38] aivinog1 commented on #126
@0crat wait #129

[2019-07-13 09:51] 0crat commented on #126
@aivinog1 The impediment for [#126](https://github.com/yegor256/pdd/issues/126) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-14 05:42] 0crat commented on #119
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-14 16:49] aivinog1 commented on #119
@0crat wait for reply from @yegor256

[2019-07-14 16:52] 0crat commented on #119
@aivinog1 The impediment for [#119](https://github.com/yegor256/pdd/issues/119) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-14 19:25] yegor256 commented on #119
@aivinog1 reopened

[2019-07-14 19:25] 0crat commented on #119
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-14 19:25] 0crat commented on #119
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-14 19:30] #126 closed

[2019-07-14 19:30] 0pdd commented on #126
The puzzle `114-89012c92` has disappeared from the source code, that's why I closed this issue.

[2019-07-14 19:30] 0pdd opened #135 "rake.feature:9-10: For now, there is a warning when I run..."
The puzzle `126-b07582a4` from #126 has to be resolved:

https://github.com/yegor256/pdd/blob/7f32468a6720c188f0364f6285cc5a98c490f387/features/rake.feature#L9-L10

The puzzle was created by Alexey Vinogradov on 11-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-07-14 19:30] 0pdd commented on #114
@yegor256 3 puzzles [#132](https://github.com/yegor256/pdd/issues/132), [#133](https://github.com/yegor256/pdd/issues/133), [#135](https://github.com/yegor256/pdd/issues/135) are still not solved; solved: [#125](https://github.com/yegor256/pdd/issues/125), [#126](https://github.com/yegor256/pdd/issues/126).

[2019-07-14 19:30] 0pdd commented on #126
@0pdd the puzzle [#135](https://github.com/yegor256/pdd/issues/135) is still not solved.

[2019-07-14 19:31] 0crat commented on #135
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-14 19:33] yegor256 commented on #135
@0crat assign @aivinog1

[2019-07-14 19:47] 0crat commented on #135
@yegor256 The job [#135](https://github.com/yegor256/pdd/issues/135) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/f458e24c-15a9-4baa-a715-10cf66609e9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-14 19:47] 0crat commented on #135
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-14 19:50] 0crat commented on #126
Job [#126](https://github.com/yegor256/pdd/issues/126) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't inspect

[2019-07-14 19:50] 0crat commented on #126
The job [#126](https://github.com/yegor256/pdd/issues/126) is now out of scope

[2019-07-14 19:50] 0crat commented on #126
@dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-14 23:49] aivinog1 commented on #119
@yegor256 Ok, I'm closing it.

[2019-07-14 23:49] #119 closed

[2019-07-14 23:59] aivinog1 commented on #119
@0crat status

[2019-07-15 00:06] 0crat commented on #119
@aivinog1 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#119](https://github.com/yegor256/pdd/issues/119) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1) for [6days](http://www.z

[2019-07-15 00:08] 0crat commented on #119
Job [#119](https://github.com/yegor256/pdd/issues/119) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't inspect

[2019-07-15 00:08] 0crat commented on #119
@dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-15 00:08] 0crat commented on #119
The job [#119](https://github.com/yegor256/pdd/issues/119) is now out of scope

[2019-07-15 09:34] aivinog1 commented on #135
@0crat wait #136

[2019-07-15 09:34] 0crat commented on #135
@aivinog1 The impediment for [#135](https://github.com/yegor256/pdd/issues/135) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-16 01:08] aivinog1 commented on #125
@0crat status

[2019-07-16 01:09] 0crat commented on #125
@aivinog1 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#125](https://github.com/yegor256/pdd/issues/125) is not in scope
  * The job is waiting quality review verdict by @dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) for 5days
  * @aivinog1[/z](https://www.0crat.com/u/aivinog

[2019-07-16 01:18] aivinog1 commented on #125
@yegor256 Hm, I've seen @dennis00010011b profile in Zerocracy(https://www.0crat.com/u/dennis00010011b) and I see that he has a reputation of None. The I've checked Team page(https://www.0crat.com/team) and I could not find a user with such username. After all of that, I think that review would not have been done. Can you remove this user from the project?

[2019-07-18 03:44] aivinog1 commented on #125
@0crat status

[2019-07-18 03:47] 0crat commented on #125
@aivinog1 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#125](https://github.com/yegor256/pdd/issues/125) is not in scope
  * The job is waiting quality review verdict by @dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) for 7days
  * @aivinog1[/z](https://www.0crat.com/u/aivinog

[2019-07-18 03:48] aivinog1 commented on #125
@yegor256 What do you think about it?

[2019-07-28 10:09] yegor256 commented on #125
@0crat quality good

[2019-07-28 10:12] #135 closed

[2019-07-28 10:12] 0pdd commented on #135
The puzzle `126-b07582a4` has disappeared from the source code, that's why I closed this issue.

[2019-07-28 11:08] 0crat commented on #135
Job [#135](https://github.com/yegor256/pdd/issues/135) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't retrieve data and time of add

[2019-07-28 11:09] 0crat commented on #135
Job [#135](https://github.com/yegor256/pdd/issues/135) is not in the agenda of @aivinog1[/z](https://www.0crat.com/u/aivinog1), can't inspect

[2019-07-28 11:10] 0crat commented on #125
Order was finished, quality is "good": +35 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-28 11:10] 0crat commented on #135
@dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-28 11:10] 0crat commented on #125
Quality review completed: +4 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-28 11:10] 0crat commented on #135
The job [#135](https://github.com/yegor256/pdd/issues/135) is now out of scope

[2019-08-12 09:23] agorlov opened #137 "0pdd bot does not respond on PR merge in devsuperstars/m16"
Pre:
repo ``devsuperstars/m16``
**0pdd** is collaborator, and webhook added.
I create pull request, then merge it.

Problem:
0pdd bot does not respond on PR merge. (without error message)

My gues - this is due to the size of the repository. (Its old and large project ~450Mb)
Anyway, my expectation, to get explicit message from bot.

![image](https://user-images.githubusercontent.com/2485728/62789

[2019-08-12 09:23] 0crat commented on #137
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-12 09:23] 0crat commented on #137
@agorlov[/z](https://www.0crat.com/u/agorlov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-16 23:46] ribtoks opened #138 "pdd does not feature --include option"
I'm trying to run `pdd` on a repository with multiple technologies used (main repository language is C/C++). `pdd` scans all kinds of files, however it would only need to scan `*.c, *.cpp, *.h, *.hpp` files for me. Currently only `--exclude` option is supported, however, I'm not going to write all the regexes in order to exclude all other 10 types of files in my repo. If `pdd` would support `--inc

[2019-08-16 23:47] 0crat commented on #138
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-16 23:47] 0crat commented on #138
@ribtoks[/z](https://www.0crat.com/u/ribtoks) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-16 23:52] ribtoks opened #139 "pdd is very slow"
I'm trying to run pdd on the repository https://github.com/ribtoks/xpiks using command `pdd -s ./src` and it is too slow on my macbook pro.

Even though it does not finish scan (it exited on some non-excluded binary `.rc` file), it took time measured with ~a watch~ `time` utility

    real	1m22.272s
    user	0m41.352s
    sys	0m28.555s

With this limitation, it is not viable to use this tool for r

[2019-08-16 23:52] 0crat commented on #139
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-16 23:52] 0crat commented on #139
@ribtoks[/z](https://www.0crat.com/u/ribtoks) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-19 18:11] ribtoks commented on #139
I wrote a [tool](https://github.com/ribtoks/tdg) in Go in a couple of hours that does the same as pdd and finished execution in less than 1 second (on my machine) on the same codebase. You can close the issue if you think 1.5 minutes execution time is OK for your tool.

[2019-10-10 07:34] yegor256 commented on #137
@agorlov what kind of response you expect from it? If there are no puzzles in your code, it won't say anything.

[2019-10-10 07:34] #137 closed

[2019-10-10 07:51] yegor256 commented on #139
@ribtoks but this tool not only scans files but also validates what it finds, performs a number of checks, and creates a multi-level XML document. I'm sure it's possible to make it faster, but it's not a simple scanner. Anyway, I like the tool you created!

[2019-10-10 07:51] #139 closed

[2019-10-10 07:53] yegor256 commented on #138
@ribtoks definitely a good idea. Would you be interested to submit a pull request?

[2019-10-10 08:00] 0crat commented on #137
Job `gh:yegor256/pdd#137` is not assigned, can't get performer

[2019-10-10 08:14] 0crat commented on #137
This job is not in scope

[2019-10-10 08:17] 0crat commented on #139
Job `gh:yegor256/pdd#139` is not assigned, can't get performer

[2019-10-10 08:18] 0crat commented on #139
This job is not in scope

[2019-10-11 13:56] ChameleonTartu opened #140 "Add optional parameter to specify milestone an issue should be linked to"
We miss the functionality of linking `todo` to `milestone`.

Use case. I have planned release and tasks with No milestones. I want to be able to add tasks to the same current milestone or another milestone. It will help to either postpone deadlines when scope cannot be reduced or pass tasks to the future milestone.

Example of syntax can be:

[code]

[2019-10-11 13:56] 0crat commented on #140
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-11 13:56] 0crat commented on #140
@chameleontartu[/z](https://www.0crat.com/u/chameleontartu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-19 22:22] ChameleonTartu opened #141 "pdd doesn't recognize and document task when in test file"
When I leave puzzle in test file. `MyControllerTest.java` under `src/test/java` folder it looks as on picture below:

![image](https://user-images.githubusercontent.com/13621271/67152015-37cf5f00-f2cf-11e9-9448-4f75f97f26ef.png)

I expected it to write name of the test file and line as well as beginning of description.

[2019-10-28 07:51] yegor256 commented on #141
@ChameleonTartu it's not about test file, it's something else...

[2019-10-28 07:52] yegor256 commented on #140
@ChameleonTartu PDD is not for planning, it's for finding puzzles and reporting them. The planning should happen afterwards, in the issue tracker, by hands. The author of the puzzle must not make these decisions.

[2019-10-28 07:52] #140 closed

[2019-10-30 18:37] ChameleonTartu commented on #141
@yegor256  Example of puzzle below and it's literally how it looks in prod.

[code]

[2020-01-28 19:51] dgroup opened #142 "How to add a code snippets into @todo?"
Let's say we have a code
[code]

In this case, `pdd` will throw the exception with a clarification that 'Too many leading spaces'.
Is there any option to hint pdd about code snippets?

[2020-01-28 19:51] 0crat commented on #142
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-28 19:51] 0crat commented on #142
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-09 16:06] php-coder opened #143 "pdd fails to parse files in a charset other than UTF-8"
I have a file in windows-1251 charset and when I committed it into a repo, pdd has started to fail with the following error:

Here is the comment that 0pdd posted: https://github.com/php-coder/mystamps/commit/a4d9ef2c3634f695101c1fa3d1b21568b3dad8cf#commitcomment-37196757

[2020-02-09 16:06] 0crat commented on #143
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-09 16:06] 0crat commented on #143
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-16 16:44] proshin-roman opened #144 "Supported tickets management systems are not listed in the README.md"
I would like to use the system with JIRA, but I cannot figure out if JIRA is supported by this product. The README.md file only partially mentions Github.

It's a bug, that there is no explicit list of supported ticket management systems somewhere on the main page (most likely - README.md).

[2020-02-16 16:44] 0crat commented on #144
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-16 16:44] 0crat commented on #144
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-16 16:47] proshin-roman opened #145 "Supported services of VCS are not listed in the README.md"
I would like to use the product with Bitbucket (uses Git), but cannot figure out from the product documentation whether Bitbucket is supported, or it's only about Github (which de-facto default).

It's a bug, that there is no explicit list of supported VCS services supported by the product. Such a list must be somewhere in the documentation, most likely in README.md.

[2020-02-16 16:47] 0crat commented on #145
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-16 16:47] 0crat commented on #145
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-08-05 10:00] yegor256 commented on #142
@dgroup the only option I have is this:

[code]

[2020-08-05 15:53] dgroup commented on #142
I see, this is a workaround, but it works)

[2020-08-17 15:26] amihaiemil opened #146 "Make puzzle discovery more resilient?"
Would it be possible to make the puzzle discovery a little more robust? For instance, it will fail for the following puzzle:

[code]
just because there is an unwanted ``:`` right after the ``@todo``.

I think if the parent ticket and estimation cannot be parsed for some reason (while the overall todo is parseable), then it should return the puzzle with ``unknown`` or ``undefined`` values for what

[2020-12-01 20:42] yegor256 opened #147 "lose some version deps"

[2020-12-01 20:44] yegor256 commented on #147
@rultor release, tag is `0.20.6`

[2020-12-01 20:45] rultor commented on #147
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23796-736808828)

[2020-12-01 20:49] rultor commented on #147
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23796-736808828) (took me 3min)

[2020-12-01 20:50] #147 closed

[2020-12-05 12:15] dennisinfobox opened #148 "Question. Is this tool applicable for other prog langs?"
I have tried to put properly formated comment for puzzle in my C# repository. However, the issue with puzzle wasn't created.

0pdd added as a colloborator.
Webhook http://www.0pdd.com/hook/github
content type: application/json

Webhooks responses are with 200. and 'Thanks' as body.

[2020-12-05 19:17] #148 closed

[2020-12-27 00:25] portlek opened #149 "Is it possible to change how much have spaces after the next line?"
https://github.com/yegor256/pdd/blob/master/lib/pdd/source.rb#L145
Because my Javadoc style is like that;
![image](https://user-images.githubusercontent.com/12835420/103161473-28ad4080-47f3-11eb-93b7-c9ec188cf0d7.png)
So, I want to make the spaces 2.

[2021-01-19 04:50] raboley commented on #117
Is there a reason it can't only match on @todo? it seems like that is the accepted pattern, but anything with the word todo
triggers and breaks pdd. such as:

[code]

would be great if pdd could be more descriminating, since a malformatted todo breaks everything.

[2021-02-16 07:00] yuri-karpovich commented on #144
Great project! I like a concept and want to contribute. We need to create an interface to connect issues management systems like JIRA or Redmine

[2021-02-16 07:15] yegor256 commented on #144
@proshin-roman this product is not connected to any ticket tracking system. It just parses the source code and creates an XML file with a full list of _puzzles_. If you need integration with your tracker, you should check 0pdd.com at https://github.com/yegor256/0pdd

[2021-02-16 07:15] #144 closed

[2021-02-16 07:15] yegor256 commented on #149
@portlek it's not configurable at the moment. You are welcome to submit a pull request with this configuration option though.

[2021-02-16 07:16] yegor256 commented on #146
@amihaiemil well, we are big fans of strict rules, as you know :) Let's keep our code clean and consistent.

[2021-02-16 07:16] #146 closed

[2021-02-16 07:17] yegor256 commented on #145
@proshin-roman you should check https://github.com/yegor256/0pdd This repo is not doing anything with GitHub or JIRA. See also #144

[2021-02-16 07:17] #145 closed

[2021-02-16 07:18] yegor256 commented on #143
@php-coder this indeed may be a bug. Would you be interested in submitting a pull request to fix it?

[2021-02-16 07:18] #142 closed

[2021-02-16 07:21] amihaiemil commented on #146
@yegor256 we decided to write our own parser in the meantime, with blackjack and hookers B-)

[2021-02-16 07:30] yegor256 commented on #146
@amihaiemil great!)

[2021-02-16 07:34] 0crat commented on #146
Job `gh:yegor256/pdd#146` is not assigned, can't get performer

[2021-02-16 07:45] 0crat commented on #144
Job `gh:yegor256/pdd#144` is not assigned, can't get performer

[2021-02-16 08:06] 0crat commented on #142
Job `gh:yegor256/pdd#142` is not assigned, can't get performer

[2021-02-16 08:07] 0crat commented on #145
Job `gh:yegor256/pdd#145` is not assigned, can't get performer

[2021-02-16 08:23] php-coder commented on #143
@yegor256 As it's not critical to me (there is a workaround), I'm not interested in dealing with Ruby code :)

[2021-02-16 09:15] portlek commented on #149
thanks, if I can learn to ruby I'll make it ASAP .-.

[2021-06-07 08:38] dzhukovski opened #150 "Pdd doesnt recognize multilines puzzle description."
Pdd was not able to recognize such description. (all tabs and spaces are make the difference). When I put this description into single line everything been parsed properly.

[code]

[2021-06-30 14:42] yegor256 opened #153 "one test is broken in test_source.rb:192"
Something is wrong, let's fix it

[2021-06-30 15:03] 0pdd opened #155 "Rakefile:21-23: Hey, take a look at test_source.rb:192. I..."
The puzzle `153-0452b4a7` from #153 has to be resolved:

https://github.com/yegor256/pdd/blob/54a2f17660bc9f6eeeb28fec7b2506046e4873c2/Rakefile#L21-L23

The puzzle was created by @yegor256 on 30-Jun-21.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2021-06-30 15:03] 0pdd commented on #153
@yegor256 the puzzle [#155](https://github.com/yegor256/pdd/issues/155) is still not solved.

[2021-06-30 16:04] mbao01 commented on #150
Hi @dzhukovski thanks for submitting this issue. I looked through and noticed the todo marker you have is not properly formatted. Check the readme on [how to format](https://github.com/yegor256/pdd#how-to-format)

**Right**
[code]

**Wrong**
[code]

[2021-06-30 18:37] mbao01 opened #156 "Add pdd configuration option to handle badly formatted markers (either Warning or Error)"
## Description
### Current behaviour
When a badly formatted todo marker is present in the project, `pdd` throws an error and stops processing subsequent files. This means that the generation of any rightly formatted puzzles fails.
My proposal is to make this behaviour configurable.

### Suggested solution
Add pdd configuration option to handle encounters with badly formatted markers either show a

[2021-07-01 06:04] dzhukovski commented on #150
Hi @mbao01 , thanks for the clarification, but to be honest its pretty weird that the format I used can not be considered as a proper one. Anyway thanks a lot.

[2021-07-02 09:53] yegor256 commented on #150
@dzhukovski this is my design. The only space for us to understand where you puzzle ends is by the indentation.

[2021-07-02 09:53] #150 closed

[2021-07-02 11:03] 0crat commented on #150
Job `gh:yegor256/pdd#150` is not assigned, can't get performer

[2021-07-03 23:01] Doldrums opened #158 "Codestyle/refactoring"
General catch-all task for fixes, codestyle refactoring that are not related with a specific issue.
According to the style guide Ruby that recommends best practices
https://rubystyle.guide/

[2021-07-06 13:30] #156 closed

[2021-07-06 13:34] mbao01 commented on #149
Fixed in PR #160

[2021-07-06 13:46] #149 closed

[2021-07-06 22:48] mbao01 commented on #96
Thanks for submitting this issue @nikolausm. I cannot replicate this issue because puzzles were generated successfully. This issue seems to have been fixed.
If you still have this problem, please reopen this issue.

<img width="527" alt="Screenshot 2021-07-06 at 23 45 16" src="https://user-images.githubusercontent.com/10655408/124675239-39322800-deb4-11eb-868b-855e9d507952.png">

Please close this

[2021-07-06 23:20] mbao01 commented on #117
Sequel to issues [#106](https://github.com/yegor256/pdd/issues/106) and this issue, it will be great if todo markers are configurable by the developer. Yes, we can have default todo markers to be `@todo` and `TODO:` (for backward compatibility). Then we give a configuration option to allow users to set custom markers.

Example:
[code]

Will register 3 markers in project (`@todo`, `TODO:` and `@pdd

[2021-07-11 08:39] firedev commented on #96
How about this then
[code]

[2021-07-11 09:08] firedev commented on #96
Here is another case:

[code]

[2021-07-11 20:14] yegor256 commented on #96
@mbao01 what do you think?

[2021-07-11 21:17] firedev commented on #96
Okay maybe the example above is a little bit too much, after all we can add new lines and this is what I did. But indented lines after the first comment are being removed by `standardrb` and `rubocop`.

Here is a proposal. Treat non-interrupted comment blocks starting with a marker as issues until the first empty line or the code start:

[code]

[2021-07-11 21:40] mbao01 commented on #96
Hi @firedev thanks for catching this. Looks like an issue with the `TODO:` marker. The issue does not happen with the `@todo` marker. I will take a look at the problem with `TODO:` marker. Thank you

Works as expected ✅
[code]

[2021-07-11 21:58] mbao01 commented on #96
Nice @firedev , this is a good proposal! Is it possible for you to create a new issue for this proposal?

[2021-07-12 02:03] mbao01 commented on #80
This issue is more involved. _.gitignore_ contain [patterns](https://git-scm.com/docs/gitignore) that are not supported or recognized by the `Dir.glob(...)` API. A solution will be to write a matcher (specifically for _.gitignore_) on top of `Dir.glob(...)` OR use an existing _.gitignore_ pattern matcher

[2021-07-12 02:50] firedev opened #163 "Use blank lines instead of indentation as issue body markers"
Indented lines after the first comment are being removed by automatic code for matters like `standardrb` and `rubocop`.

Here is a proposal. White space and indentation is not reliable. Treat non-interrupted comment blocks starting with an issue marker as the issue body. Until the first empty line or the beginning of the next code block:

[code]

Note: The body should not start with the blank line

[2021-07-12 03:17] yegor256 commented on #80
@mbao01 which way do you prefer to go?

[2021-07-12 03:17] 0crat commented on #80
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55.1](https://github.com/zerocracy/farm): Issue: cqfn/pdd#80, Comment: 404393510

[2021-07-12 03:17] 0crat commented on #80
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55.1](https://github.com/zerocracy/farm): Issue: cqfn/pdd#80, Action: `created`

[2021-07-12 03:18] yegor256 commented on #163
@mbao01 WDYT?

[2021-07-12 04:06] firedev opened #164 "UTF-8 is encoded"
Russian letters come out like this `&#x41E;&#x431;&#x440;` looks like Ruby 1.9 UTF-8 workaround. I think it is safe to assume that we are living in UTF-8 world. And ruby 2.x at least. First few 2.x versions are end-of-the-line already.

[code]

[2021-07-12 04:07] firedev commented on #143
Seems like a non-issue. CP-1251? Come on. It's UTF-8 that needs attention. https://github.com/cqfn/pdd/issues/164

[2021-07-12 10:59] mbao01 commented on #163
Thanks so much, @firedev. I think it is a good idea, currently, this behaviour works following our marker formatting (i.e space after the beginning of the todo marker.

[code]

This proposal will require us to rework how we parse next-line content for a puzzle. It looks good @yegor256

[2021-07-12 15:17] firedev commented on #163
When you convert a block of code to a ticket you need to add spaces manually, you can't just slap a todo market and move on as you normally would:

[code]

I believe "significant whitespace in comments" is a brittle concept. I personally strip all extra whitespace from code. All double spaces, and double empty lines are replaces with a single newline or space. Maybe this is why I had issues adding

[2021-07-12 22:08] mbao01 commented on #155
@yegor256 please close this issue. This issue has been resolved and its puzzle removed from the source code.

[2021-07-12 22:23] mbao01 commented on #115
This issue has been resolved in #161. We can close this issue @yegor256

[2021-07-13 05:23] php-coder commented on #164
While I disagree with that statement, if you go this way, please, document this assumption at least.

[2021-07-13 10:05] mbao01 commented on #80
I will look for an existing _.gitignore_ file matcher. If I find one, I will use it. Plan B will be to build a custom matcher on top of `Dir.glob(...) `

[2021-07-13 11:59] firedev opened #165 "Proposal: Format error messages as `path/file:line`"
In some terminals (iTerm) you can click and open files on the offending line. For this to work it should be written as `path/to/file:99` where 99 is line.

Look at `rspec` output for example.

I propose to use the same format:

Before:
[code]
After:
[code]

[2021-07-13 13:55] mbao01 commented on #165
Thanks, @firedev I agree with you. Some error messages are formatted correctly. This will be fixed 💯

[2021-07-14 05:28] firedev commented on #163
So I've instructed my teammates to add a blank line after `# TODO`. The parser chokes on everything and I don't want to spend time formatting comments.

[2021-07-14 09:49] #96 closed

[2021-07-14 11:39] mbao01 opened #167 "Add pre-commit and pre-push hooks to automatically lint and run tests"
Description
This issue is focused on developer experience. I want _rake_ tasks to run locally before I push code to the central repo. This helps to catch issues that would have otherwise been caught later in future, leading to rework and time loss.

**Acceptance Criteria**
- Before-commit:
pre-commit hooks should reformat commit message to the format:
`#[BRANCH_NAME]: [MESSAGE]`

- Before push:
pr

[2021-07-14 15:59] mbao01 commented on #167
I think it is possible. I have used [husky](https://www.npmjs.com/package/husky) with projects on github. Husky (typescript) can also be used with this project but I prefer Overcommit to keep everything in Ruby. I can set this up :)

[2021-07-16 10:33] mbao01 commented on #165
Hi @firedev this issue has been resolved. Please confirm and close the issue. Thank you.

[2021-07-16 10:35] mbao01 commented on #115
@yegor256 Please close this issue. Thank you

You can reopen this issue if not resolved @php-coder

[2021-07-16 12:38] firedev commented on #165
@mbao01 it is probably not released yet

[code]

[2021-08-24 11:14] #115 closed

[2021-08-24 11:14] yegor256 commented on #165
@rultor release, tag is `0.20.7`

[2021-08-24 11:15] rultor commented on #165
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24956-904548212)

[2021-08-24 11:19] rultor commented on #165
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/24956-904548212) (took me 3min)

[2021-08-24 11:20] yegor256 commented on #165
@mbao01 @firedev version 0.20.7 is released, try it please

[2021-08-25 06:18] firedev commented on #165
@yegor256 I needed pdd to validate TODOs for @0pdd. Unfortunately 0pdd kept crashing due to https://github.com/yegor256/0pdd/issues/304 So I had to abandon the whole idea, format TODOs back and use todo parser from github actions.

[2021-08-31 19:28] Doldrums commented on #158
#170

[2021-09-03 13:32] #155 closed

[2021-09-03 13:32] #153 closed

[2021-09-06 07:53] mbao01 commented on #143
<img width="557" alt="Screenshot 2021-09-06 at 08 31 24" src="https://user-images.githubusercontent.com/10655408/132180560-d3b15c85-25b3-42a7-b572-80387a47cd87.png">

<img width="402" alt="Screenshot 2021-09-06 at 08 30 53" src="https://user-images.githubusercontent.com/10655408/132180541-11129d60-2848-450d-90b1-fea7d0ec19c5.png">

[2021-09-15 05:23] yegor256 commented on #167
@yegor256 what about other programmers, who don't want to have such hooks (I'm one of them). Will this be optional or mandatory for everybody?

[2021-09-15 06:17] #143 closed

[2021-09-15 06:34] mbao01 commented on #167
It is mandatory, not optional. It is one project so we need a level of consistency and code checks before any developer pushes to this project. It is important for any project (especially open source).
@yegor256

[2021-09-15 06:35] mbao01 commented on #165
@yegor256 please can you add a label (probable `done` or `merged` or anything) to indicate that this issue has been worked on, i.e PR accepted and merged? Thank you :)

[2021-09-15 06:35] mbao01 commented on #164
@yegor256 please can you add a label (probable `done` or `merged` or anything) to indicate that this issue has been worked on, i.e PR accepted and merged? Thank you :)

[2021-09-15 06:39] mbao01 commented on #138
@ribtoks work has been done on this, please can you close this issue? Thank you

@yegor256 please can you add a label (probable `done` or `merged` or anything) to indicate that this issue has been worked on, i.e PR accepted and merged? Thank you :)

[2021-09-15 06:40] mbao01 commented on #165
@firedev work has been done on this, please can you close this issue? Thank you

[2021-09-15 06:41] mbao01 commented on #158
@Doldrums work has been done on this, please can you close this issue? Thank you

[2021-09-15 06:42] mbao01 commented on #113
@golyalpha work has been done on this, please can you close this issue? Thank you

@yegor256 please can you add a label (probable `done` or `merged` or anything) to indicate that this issue has been worked on, i.e PR accepted and merged? Thank you :)

[2021-09-15 06:42] mbao01 commented on #80
@php-coder work has been done on this, please can you close this issue? Thank you

@yegor256 please can you add a label (probable `done` or `merged` or anything) to indicate that this issue has been worked on, i.e PR accepted and merged? Thank you :)

[2021-09-15 06:44] mbao01 commented on #117
@yegor256 Please see the comment above

[2021-09-15 06:44] mbao01 commented on #117
@php-coder work has been done on this, please can you close this issue? Thank you

@yegor256 please can you add a label (probable `done` or `merged` or anything) to indicate that this issue has been worked on, i.e PR accepted and merged? Thank you :)

[2021-09-15 06:45] mbao01 commented on #163
@yegor256 please see comment above

[2021-09-15 06:46] yegor256 commented on #167
@mbao01 Well, we have a quality control enforced by Rultor. How exactly each programmer organizes their development environment, I believe, we should not enforce. I, for example, don't like the idea of running full build on `git push`. I'm used to having `git push` finish immediately, not after a few minutes.

[2021-09-15 06:47] yegor256 commented on #113
@mbao01 only the author of the ticket can confirm that it's fixed. Let's wait a bit.

[2021-09-15 06:48] #138 closed

[2021-09-15 06:52] golyalpha commented on #113
@mbao01 I see that it's been merged in #169, closing the issue.

[2021-09-15 06:52] #113 closed

[2021-09-15 06:56] mbao01 commented on #167
I think the commands run on prepush or other hooks is something the team should agree on. All this is to prevent bugs from creeping in and save developer time. I like this experience. It defeats the purpose if it's optional and some people can turn it off. We can decide on appropriate prepush command (or remove it entirely) since that's the pain point.

[2021-09-15 07:09] mbao01 commented on #133
@yegor256 please can you clarify? The description for this task is not clear. What is the problem to solve here?

[2021-09-15 07:11] mbao01 commented on #132
@yegor256 please can you clarify? The description for this task is not clear. It seems related to another puzzle.

[2021-09-15 08:19] #158 closed

[2021-09-18 22:48] mbao01 commented on #167
I will close this issue. A new issue can be opened to continue this conversation @yegor256

[2021-09-18 22:48] #167 closed

[2021-09-22 08:11] AntistasII commented on #165
@firedev @yegor256 please consider the closing of this issue?

[2021-09-22 08:12] AntistasII commented on #164
@yegor256  Could you look at Ayomide's comment, please?

[2021-09-22 08:17] AntistasII commented on #133
@yegor256 Could you please give some clarification for this issue ?

[2021-09-22 08:21] AntistasII commented on #117
@yegor256 Could you please look at Ayomide's comment?

[2021-09-22 08:22] AntistasII commented on #80
@yegor256 Could you please look at Ayomide's comment?

[2021-09-23 05:34] #165 closed

[2021-09-23 14:34] yegor256 commented on #80
@mbao01 I'm closing, thanks!

[2021-09-23 14:34] #80 closed

[2021-09-23 14:34] yegor256 commented on #117
@mbao01 I'm closing, thanks!

[2021-09-23 14:34] #117 closed

[2021-09-23 14:37] yegor256 commented on #133
@mbao01 just remove the puzzle from the code. It duplicates another one in the same file.

[2021-09-23 14:37] yegor256 commented on #164
@mbao01 is it fixed?

[2021-09-23 14:38] yegor256 commented on #163
@mbao01 which one exactly?

[2021-09-23 15:10] mbao01 commented on #164
Yes, please see my comment above @yegor256
https://github.com/cqfn/pdd/pull/172

[2021-09-24 08:30] Doldrums commented on #133
@yegor256 are u sure that it duplicates? could u pls refer to which one

[2021-09-24 15:45] Doldrums opened #174 "Some of supported options for PDD are not listed in the README.md"
#152  adds feature `--include` option that isn't documented. It would be good to have this documented as it done for `--exclude` option on https://github.com/yegor256/pdd/blob/master/README.md

[2021-09-24 16:13] Doldrums opened #175 "Extend `bundle exec rake` checks for corresponding puzzles conditions"
Actually, now while running `bundle exec rake` locally there is no opportunity to check if puzzles in the source code correspond to their conditions. This will help to avoid possible failures of `@rultor merge` command after reviewing PRs.

[2021-09-24 16:31] Doldrums opened #176 "Default `--include` option array of files does not depend on `--source` option value"
In some way, it was a temporary solution because now the default array of files for pdd is collecting from the current working directory.   But ideally this array should depend on the specified (or not) directory via `--source`.
https://github.com/cqfn/pdd/blob/f07f2786939e8705f8e1a88510878af29ea7baaf/bin/pdd#L45-L49

[2021-09-29 08:43] Doldrums opened #178 "Crashing while running tests sometimes: Errno::ENOENT: No such file or directory - getcwd"
### Description
Actually, seems to be some kind of bug like rarely there is an issue while executing `bundle exec rake`  in particular while executing `TestSources#test_ignores_binary_files:`

### Trace is the following:
[code]

### Example:
https://github.com/cqfn/pdd/pull/177#issuecomment-929938609

[2021-09-29 08:45] Doldrums commented on #178
@rultor hello

[2021-09-29 08:48] Doldrums commented on #178
@rultor hello

[2021-09-29 08:51] Doldrums commented on #132
@yegor256 close issue pls

[2021-09-29 09:03] yegor256 commented on #178
@mbao01 can you help here please?

[2021-10-08 11:02] #178 closed, assigned to nobody

[2021-10-14 11:33] yegor256 commented on #133
@mbao01 @Doldrums I'm not the author of the puzzle. You can't find answers from me :) Just deal with the puzzle: either delete it or fix.

[2021-10-18 17:00] Doldrums commented on #132
@yegor256 actually, this puzzle is already removed
https://github.com/cqfn/pdd/blob/13012efa642fe265cd8b7695d5ab4317a801fde3/lib/pdd/rake_task.rb#L15
is 0pdd checks between several latest commits?

[2021-11-03 15:31] mbao01 commented on #163
@yegor256 I want to confirm if we are going in this direction for puzzle markers. Based on the thread, is this something we feel confident about?

[2021-11-03 15:55] mbao01 commented on #164
@AntistasII Please can we close this issue?

[2021-11-03 20:47] mbao01 commented on #175
Yes, that is correct @Doldrums. The way I see it, this is outside the scope of `pdd` (as a puzzle generator). If you use the core library `pdd` directly (locally) in your project in some pre-commit/pre-push stage, it is possible you can catch these errors.

Unfortunately, you don't need to have `pdd` installed locally in your project when using `0pdd`. Thus, there's no way to tell if your puzzles

[2021-11-04 12:20] #175 closed

[2021-11-07 17:05] AntistasII commented on #164
if issue is fixed , so yes.
@yegor256  what should we do to close that? @mbao01 fixed it...

[2021-11-14 04:20] yegor256 commented on #164
@AntistasII @mbao01 @firedev I'm closing, thanks all

[2021-11-14 04:20] #164 closed

[2021-11-14 04:31] yegor256 commented on #163
@mbao01 I think that the idea is good. Let's try to implement it and see how our tests will react to it. If there won't be a lot of damage to them, let's release.

[2021-11-19 14:20] mbao01 opened #183 "Performance benchmark and comparison with similar libraries"
[WIP]

[2021-12-13 10:33] mbao01 commented on #176
@Doldrums Could you possibly close this issue, it has been worked on.

[2021-12-13 14:25] mbao01 opened #184 "Improve file scan time to include and exclude files"

[2021-12-13 14:30] mbao01 commented on #184
All values are in seconds

| Description  | CPU time | Kernel time | Total time | Real (clock) time |
| ------------- | ------------- | ------------- | ------------- | ------------- |
| Previous | 117.396410  | 4.412440  | 122.288659  | 133.210167 |
| Now | 0.204576  | 1.167331  | 1.639570  | 5.352543 |

[2021-12-14 07:35] #176 closed

[2021-12-17 07:42] #184 closed

[2022-01-10 16:00] mbao01 commented on #134
@yegor256 for some reason, after removing the comments and merging the PR that fixes this, 0pdd did not close the issue. Please can you close it?

[2022-01-10 16:30] mbao01 opened #188 "Update all copyright dates for 2022"

[2022-01-10 16:34] #188 closed

[2022-01-10 16:39] yegor256 commented on #132
@mbao01 let me try

[2022-01-10 16:39] #132 closed

[2022-01-10 16:39] yegor256 commented on #134
@mbao01 let's try

[2022-01-10 16:39] #134 closed

[2022-01-12 10:19] mbao01 opened #190 "Clean up log/comments by 0pdd"
The comments made by 0pdd on issues, PRs, commits or remote log is hard to read. See screenshot below.

<img width="964" alt="Screenshot 2022-01-12 at 13 17 00" src="https://user-images.githubusercontent.com/10655408/152532707-49068c93-5a3c-42a5-a8de-db6a7e9b83db.png">

[2022-01-21 07:17] g4s8 opened #191 "Can't run pdd: Error loading shared library liblzma.so.5"
I'm trying to run `pdd` CLI tool from Docker after updating base image from `alpine:3.10` to `alpine:3.13` - on 3.10 image, it's working fine until gem fails to install pdd with warning that Ruby version is old and has some security bugs. On a new image ruby version is `2.7.0` and `pdd` can be installed successfully. But now it's failing in runtime on `pdd` call with strange error (see stack trace

[2022-01-22 16:01] yegor256 commented on #191
@mbao01 can you please take a look?

[2022-02-06 23:04] mbao01 commented on #191
@g4s8 Hi, I could not reproduce this issue using `macOS`, `docker v20.10.6`, `alpine:3.13` and `ruby v2.7.0`. Please let me know if you still face this issue and if possible provide additional info. Here are the steps I used on macOS.

Pre-installation steps
[code]

Run `pdd`

[2022-02-07 08:26] g4s8 commented on #191
@mbao01 @yegor256 this issue was fixed by @baudoliver7 in this PR: https://github.com/g4s8/pdd-action/pull/4

I think it would be good to point in readme what runtime dependencies `pdd` require (maybe without specifying distro, just say which shared lib should be installed).

[2022-02-11 00:24] baudoliver7 opened #193 "Ignoring bug about too many leading spaces"
For example, when I add this puzzle to my code :
[code]
and run `pdd` like this on my project :
[code]
Everything is ok so far.

But, [0pdd](https://www.0pdd.com) is unable to create the puzzle with this error message :
[code]
See logs [here](https://github.com/my-supervisor/my-supervisor/commit/ce8fd3b91cef6e631707a5c779046ad5d2a62ae3#commitcomment-66455648)

[2022-02-11 05:49] yegor256 commented on #193
@baudoliver7 I believe it's a feature of a new version. @mbao01 right?

[2022-02-11 13:46] baudoliver7 commented on #193
@yegor256 @mbao01
Here is another puzzle that fails also :
[code]

With the same message, preventing `pdd` to generate any puzzle on the project :
[code]
See logs [here](https://github.com/artipie/artipie/commit/31074c1719c489688d7edf2a21a2c7105f25da5e#commitcomment-66492382) for more details.

[2022-02-11 22:36] #190 closed

[2022-02-13 12:29] g4s8 commented on #191
@mbao01 I think issue is not really solved: new users may have the same problem. Can you please add installation details to the readme file?

[2022-02-13 13:33] rocket-3 commented on #183
@mbao01, as I know, no similar libraries, and the performance is just fine not to measure anything (runs for less than a second on my project).
By the way, there is a project somewhere, that uses `pdd` to fetch puzzles of Github/Gitlab coments instead of source code.
Maybe you have a link or a name?

[2022-03-22 12:08] Doldrums opened #195 "Benchmarking & Profiling [Regexp optimization]"
Since our goal is to achieve Benchmarking speed values of at least 10ms, it was found that the best approach in this is to optimize regular expressions.

[2022-03-25 14:42] yegor256 commented on #191
@mbao01 ping

[2022-03-29 04:50] mbao01 commented on #191
@g4s8 I will take a second look at this. Thank you)

[2022-03-30 20:07] #195 closed

[2022-03-30 20:18] Doldrums opened #197 "[Refactoring] Checking puzzles rules not for every line"
Right now we have the following structure so there are several useless regexp compling calls due to avoiding .include? 'todo' line.
[code]

[2022-03-31 13:10] #197 closed

[2022-04-01 08:30] yegor256 commented on #133
@Doldrums closed

[2022-04-01 08:30] #133 closed

[2022-06-24 15:18] mbao01 opened #201 "Allow pdd users to opt-in to use prioritized puzzles"

[2022-06-30 07:06] yegor256 opened #203 "fresh release"

[2022-06-30 07:18] yegor256 commented on #203
@rultor release, tag is `0.21.0`

[2022-06-30 07:19] rultor commented on #203
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26126-1170857503)

[2022-06-30 07:21] rultor commented on #203
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26126-1170857503) (took me 2min)

[2022-06-30 07:21] yegor256 opened #204 "GitHub actions don't work on 'windows-latest'"
Let's try to add `windows-latest` to `rake.yml` and check that it works. I tried and it didn't.

[2022-06-30 07:25] #203 closed

[2022-07-03 18:03] yegor256 opened #205 "--fail-on-error"
Let's add this command line option. If it's provided, `pdd` should stop processing after the first mistake. If not, it should print the error and continue processing the next file. Thus, if this option is NOT provided, `pdd` should not fail no matter how many errors it meets.

[2022-07-03 18:03] yegor256 commented on #205
@mbao01 can you help?

[2022-07-09 14:43] php-coder commented on #163
Guys, please, could you introduce such changes in backward-compatible format? It requires users to update their code base. Sometimes, it's impossible and, anyway, how would users of pdd/0pdd would know that such changes will happen soon? When 0pdd gets updated, we just have a new version and only because something is broken, I found that there was such a change :-(

It seems like, at least couple

[2022-07-11 03:50] yegor256 opened #207 "the body of a puzzle is wrongly detected"
Take a look at the puzzle created here: https://github.com/yegor256/cactoos/issues/1642

The body of the puzzle is much longer than it should be. I believe, it's a bug in this lib. Let's reproduce and fix.

[2022-07-11 03:50] yegor256 commented on #207
@mbao01 can you please help? It's pretty urgent, as it affects many projects

[2022-07-11 11:39] yegor256 commented on #163
@firedev @mbao01 what do you think?

[2022-07-11 11:47] firedev commented on #163
@php-coder @yegor256
I would vote for the simplest logic for todo extraction. And I also vote for automatic code beautification.

I couldn't make it work with the double space after the marker. I don't see my editors formatting text like this when commenting code.

[2022-07-11 12:34] yegor256 opened #209 "too much consumed into puzzle body"
This is my code:

[code]

This is what pdd 0.21.1 generates as puzzle body:

[code]

I expect it to be:

[code]

The problem is urgent, since we generate wrong puzzles now, for example: https://github.com/yegor256/takes/issues/1131

[2022-07-11 12:34] yegor256 commented on #209
@mbao01 please, help us

[2022-07-11 12:38] yegor256 commented on #209
@php-coder this should be fixed soon and will help

[2022-07-11 13:09] mbao01 commented on #209
I guess to keep this backward compatible, if a todo comment uses the indentation style, then we body will be the first line till the last indented line.

[2022-07-11 14:51] php-coder commented on #207
@yegor256 BTW there is a special phrase "Duplicate of" that GitHub recognizes: https://docs.github.com/en/issues/tracking-your-work-with-issues/marking-issues-or-pull-requests-as-a-duplicate

[2022-07-11 14:54] yegor256 commented on #207
@php-coder nice :) thanks!

[2022-07-13 09:29] #209 closed, assigned to nobody

[2022-07-31 05:10] yegor256 opened #211 "puzzle parsing consume tailing lines for no reason"
For example, this puzzle:

[code]

Is parsed with this body:

[code]

I think it's a mistake.

Moreover, this puzzle:

[code]

Parses as:

[code]

I created `test_many.rb` test to reproduce this.

[2022-07-31 05:12] yegor256 commented on #211
@mbao01 please, take a look

[2022-08-01 14:29] rultor commented on #211
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26403-1201280155) (spent 1min)

[code]

[2022-08-01 14:32] yegor256 commented on #211
@rultor release, tag is `0.21.3`

[2022-08-01 14:33] rultor commented on #211
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26403-1201286754)

[2022-08-01 14:35] rultor commented on #211
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26403-1201286754) (took me 1min)

[2022-08-01 14:36] #211 closed

[2022-09-17 04:51] yegor256 opened #213 "--remove"
To remove all puzzles

[2022-09-17 05:55] yegor256 commented on #213
@rultor release, tag is `0.22.0`

[2022-09-17 05:57] rultor commented on #213
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26872-1250007799)

[2022-09-17 06:00] rultor commented on #213
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26872-1250007799) (spent 4min)

[code]

[2022-09-17 06:03] yegor256 commented on #213
@rultor release, tag is `0.22.0`

[2022-09-17 06:05] rultor commented on #213
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26872-1250008693)

[2022-09-17 06:06] rultor commented on #213
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26872-1250008693) (took me 1min)

[2022-09-17 06:09] #213 closed

[2022-10-27 16:19] php-coder opened #214 "[bug] Doesn't extract puzzles from JS files that has a shebang"
(Initially submitted against 0pdd but it has been discovered that it's a bug in pdd: https://github.com/yegor256/0pdd/issues/395)

pdd doesn't extract puzzles from JS code. Here are the examples:
[code]
At GitHub: https://github.com/php-coder/query2app/blob/27ffed4faa098b8ba006c51b0a3fc8db5552eb7d/src/cli.js#L16

It's supposed that pdd should find these puzzles and create issues for them but it di

[2022-10-27 16:21] php-coder commented on #214
Hm, perhaps there is no colon after ticket number?!..

[2022-11-04 04:06] php-coder commented on #214
Any updates on this?

[2022-11-06 21:04] 3uclide opened #215 "CMakeLists input string invalid"
[code]
The input string line that is invalid is a comment line that contains the following character **²**. I've removed the line, but since cmake does not have an issue with it I believe pdd could handle it.

What do you think?

[2022-11-06 22:38] 3uclide commented on #215
Actually, I was wrong. Even removing the line I still have the same error